{
  "swagger": "2.0",
  "info": {
    "description": "Syncplicity Connector based on API-Version 1.1",
    "version": "1.1",
    "title": "Syncplicity",
    "contact": {}
  },
  "host": "api.syncplicity.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Company"
    },
    {
      "name": "Users"
    },
    {
      "name": "Devices"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Group Members"
    },
    {
      "name": "Policies"
    },
    {
      "name": "Folders"
    },
    {
      "name": "Files"
    },
    {
      "name": "Files/Folder Metadata"
    },
    {
      "name": "Folder Participation"
    },
    {
      "name": "Links"
    }
  ],
  "paths": {
    "/provisioning/company.svc/{COMPANY_GUID}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get company information",
        "description": "Obtains the metadata about a company. <br>Note: if the current user is an administrator of the company, the following additional fields will be returned: Owner, AccountType, SubscriptionPlan, TrialEndDateUtc. The Owner field will populate the EmailAddress, FirstName, LastName, and AccountType of the Owner.<br><strong>Required Scope:</strong> Company, Read",
        "operationId": "Company GET",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Company"
            },
            "examples": {
              "application/json": "{   \"Name\":\"<Company Name>\",   \"Owner\": {      \"EmailAddress\": \"<Owner's Email>\",      \"FirstName\":\"<Owner's First Name>\",      \"LastName\":\"<Owner's Last Name>\",      \"AccountType\":3   },   \"Storage\":600,   \"Seats\":50,   \"AccountType\":3,   \"SeatsUsed\":48,  \"StorageUsed\":150,  \"TrialEndDateUtc\":\"/Date(1539291391450-0700)/\",  \"SubscriptionPlan\": {    \"PremiumSupport\": true,    \"Type\": 2,    \"RenewalDateUtc\": \"/Date(1539291391450-0700)/\",    \"BillingInterval\": 1  }}"
            }
          },
          "300": {
            "description": "(Multiple Choices) - Ambiguous data found in request"
          },
          "400": {
            "description": "(Bad Request) - Invalid Company ID"
          },
          "401": {
            "description": "(Unauthorized) - Not Authorized: The token is invalid, the header is missing, or the user is inactive"
          },
          "404": {
            "description": "(Not Found) - Company Not Found: The specified company does not exist"
          }
        }
      },
      "parameters": [
        {
          "name": "COMPANY_GUID",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "Public Syncplicity Guid associated with the company"
        }
      ]
    },
    "/provisioning/users.svc/": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create users",
        "description": "Creates one or more users in the system. The response will contain only those users that have been successfully created. Users that were not created will not appear in the response list. The user objects in response will contain only properties which were set for new users. If an error occurred during the user creation process, the API will return a non-200 HTTP status code.<br>Note: the number of users created cannot exceed the number of users provisioned in the account. In addition, the application must be working on behalf of an authorized administrator account.<br><strong>Required Scope:</strong> Users, Create",
        "operationId": "Users POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "modifier",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A modifier to the API's behavior. If the value is 'no_email' an email is not sent to the specified user upon successful creation. If the value is 'simulate', then this API call is a dry-run, no users are created. If the value is empty, then the API will attempt to create the specified users.",
            "enum": [
              "no_email",
              "simulate"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Users_Post"
              },
              "example": "[   {      \"EmailAddress\": \"User's Email\",      \"FirstName\": \"User's First Name\",      \"LastName\": \"User's Last Name\",      \"AccountType\": 7,      \"Roles\": [ ]   }]"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Users_POST_response"
              }
            }
          },
          "400": {
            "description": "(Bad Request) - Email address was not set or was invalid<br>(Bad Request) - Email Domain Restricted: The domain of the email address provided is restricted from signing up<br>"
          },
          "401": {
            "description": "(Unauthorized) - Not Authorized: The token is invalid, the header is missing, or the user is inactive"
          },
          "402": {
            "description": "(Payment Required) - Company Seat Count Exceeded: No available seats are available in the specified company"
          },
          "403": {
            "description": "(Forbidden) - Not A Business Admin: The user attempting to execute this request is not a company administrator<br>(Forbidden) - Not A Business Admin: only global administrator is able to create another admin"
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Change users",
        "description": "Updates one or more users in the system. The response will contain only those users that have been successfully changed.<br><strong>Required Scope:</strong> Users, Update",
        "operationId": "Users PUT",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Users_Put"
              },
              "example": "[   {      \"EmailAddress\": \"User's Email\",      \"FirstName\": \"User's First Name\",      \"LastName\": \"User's Last Name\",      \"Password\": \"<User's Initial Password>\",      \"Roles\": [ ]   }]"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Users_Put_response"
              }
            }
          }
        }
      }
    },
    "/provisioning/company_users.svc/company/{COMPANY_GUID}/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get multiple users",
        "description": "Using the internal Syncplicity company ID represented as a Guid, the API can retrieve all the defined users associated with the specified Company. Guid must be associated with a company that the application has authorization to access.<br><strong>Required Scope:</strong> Users, Read",
        "operationId": "Users GET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "lastUserGuid",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Used for paginated mode. Put here the last user guid from previous set in order to get next set of users"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Maximum number of users to be returned."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "description": "Array of users in company",
              "items": {
                "$ref": "#/definitions/CompanyUsers_Get"
              },
              "example": "[  {    \"Id\": \"5e004d2c-3fb1-4a7c-a0e8-092493422b93\",    \"EmailAddress\": \"some_mail@domain.com\",    \"FirstName\": \"Some Name\",    \"LastName\": \"Some Last name\",    \"Roles\": [      1,      2    ],    \"Active\": true,    \"Status\": 2  }]"
            },
            "examples": {
              "application/json": "[  {    \"Id\": \"5e004d2c-3fb1-4a7c-a0e8-092493422b93\",    \"EmailAddress\": \"some_mail@domain.com\",    \"FirstName\": \"Some Name\",    \"LastName\": \"Some Last name\",    \"Roles\": [      1,      2    ],    \"Active\": true,    \"Status\": 2  }]"
            }
          },
          "403": {
            "description": "(Forbidden) - Not This Company User"
          },
          "404": {
            "description": "(Not Found) - Unknown Company ID<br>(Not Found) - Wrong Company ID"
          }
        }
      },
      "parameters": [
        {
          "name": "COMPANY_GUID",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "Unique ID associated with the company.<br>Related Information: The Company ID (Guid) is obtained as part of the JSON response from the initial OAuth connection"
        }
      ]
    },
    "/provisioning/user.svc/{USER_EMAIL}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get a user",
        "description": "Retrieves basic information about a Syncplicity user account using the user's email.<br><strong>Required Scope:</strong> Users, Read",
        "operationId": "User GET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An optional parameter that extends the logic of the API. If the value is 'active_users' or empty string, then the API will return the user record if it's active. If the value is 'inactive_users', then the API will return the record only if it's not active. Finally if the value is 'all_users' then the API will return the user record regardless whether it's active or not",
            "enum": [
              "active_users",
              "inactive_users",
              "all_users"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/User_Get"
            },
            "examples": {
              "application/json": "{  \"Id\": \"5e004d2c-3fb1-4a7c-a0e8-09249d422b9c\",  \"EmailAddress\": \"some_email@domain.com\",  \"FirstName\": \"some name\",  \"LastName\": \"some last name\",  \"Roles\": [    1,    2  ],  \"AccountType\": 14,  \"Status\": 2,  \"LastLoginDateUtc\": \"/Date(1491567679760-0500)/\",  \"CreatedDateUtc\": \"/Date(1462453662697-0500)/\"}"
            }
          },
          "400": {
            "description": "(Bad Request) - Invalid Email Format: The format of the supplied email address is bad<br>(Bad Request) - Invalid Include Modifier Value"
          },
          "403": {
            "description": "(Forbidden) - Not A Business Admin: The user attempting to execute this request is not a company administrator, or user with this email does not exists"
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update a user",
        "description": "Updates user information.<br><strong>Required Scope:</strong> Users, Update",
        "operationId": "User PUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "modifier",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "If the value contains 'no_email', then no email will be sent to the user being modified",
            "enum": [
              "no_email"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User_Put"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Users_Put_response"
            },
            "examples": {
              "application/json": "{  \"Id\": \"5e004d2c-3fb1-4a7c-a0e8-09249d422b9c\",  \"EmailAddress\": \"some_email@domain.com\",  \"FirstName\": \"some name\",  \"LastName\": \"some last name\",  \"Roles\": [    1,    2  ],  \"AccountType\": 14,  \"Status\": 2,   \"Active\": true,   \"Disabled\": false}"
            }
          },
          "400": {
            "description": "(Bad Request) - Invalid Email Format: The format of the supplied email address is bad<br>(Bad Request) - Invalid First Name or Invalid Last Name: field is empty or contains unsupported characters<br>(Bad Request) - Invalid Role Value"
          },
          "401": {
            "description": "(Unauthorized) - Not An Admin"
          },
          "403": {
            "description": "(Forbidden) - Not A Business Admin: The user attempting to execute this request is not a company administrator, or user with this email does not exists<br>(Forbidden) - Not A Group Admin or Not A Global Admin or Not An Admin: The user attempting to execute this request is not a company administrator"
          },
          "404": {
            "description": "(Not Found) - Email Address Unknown: A user with the provided email address does not exist in Syncplicity"
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete a user",
        "description": "Deletes the user from the system specified by the email address.<br><strong>Required Scope:</strong> Users, Delete",
        "operationId": "User DELETE",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "403": {
            "description": "(Forbidden) - Not An Admin: The user attempting to execute this request is not a company administrator<br>(Forbidden) - User Not An Employee<br>(Forbidden) - Owner of the company cannot be removed<br>(Forbidden) - Must always be at least one admin in a company"
          },
          "404": {
            "description": "(Not Found) - Email Address Unknown"
          }
        }
      },
      "parameters": [
        {
          "name": "USER_EMAIL",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "Email address of the target user"
        }
      ]
    },
    "/provisioning/machine.svc/{MACHINE_GUID}": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get a linked device",
        "description": "Reads information about synchronization device by its identifier<br><strong>Required Scope:</strong> Devices, Read",
        "operationId": "Machine GET",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "$ref": "#/definitions/Machine_Get"
            }
          }
        }
      },
      "parameters": [
        {
          "name": "MACHINE_GUID",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "Guid identifier of the device"
        }
      ]
    },
    "/provisioning/machines.svc/": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get linked devices",
        "description": "Retrieve the metadata identifying a sync client related to a specified user.<br><strong>Required Scope:</strong> Devices, Read",
        "operationId": "Machines GET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Unique ID associated with the user, which is needed to get all machines. If it is not specified, the results will be returned for the current user"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Optional string that extends the method's logic. If not specified, only active machines will be returned. If the include parameter is set to 'inactive', inactive machines will be returned as well (meaning all machines, inactive and active, will be returned)",
            "enum": [
              "inactive"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "description": "Object with the devices information",
              "items": {
                "$ref": "#/definitions/Machines_Get"
              },
              "example": "[  {    \"Id\": \"d1cb1f94-b588-4bdf-96e8-467cabb32d49\",    \"Name\": \"some_machine_name\",    \"SystemName\": \"Windows\",    \"SystemVersion\": \"6.0.6002\",    \"LastLoginDateUtc\": \"/Date(1475242925973)/\",    \"ClientVersion\": \"1.0.0\"  }]"
            },
            "examples": {
              "application/json": "[  {    \"Id\": \"d1cb1f94-b588-4bdf-96e8-467cabb32d49\",    \"Name\": \"some_machine_name\",    \"SystemName\": \"Windows\",    \"SystemVersion\": \"6.0.6002\",    \"LastLoginDateUtc\": \"/Date(1475242925973)/\",    \"ClientVersion\": \"1.0.0\"  }]"
            }
          },
          "400": {
            "description": "(Bad Request) - Invalid user ID: The supplied user ID is invalid"
          },
          "403": {
            "description": "(Forbidden) - Not A Business Admin: The user attempting to execute this request is not a company administrator"
          },
          "404": {
            "description": "(Not Found) - User Not Found: The specified user does not exist"
          }
        }
      },
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Create a linked device",
        "description": "Creates device which can be used for syncpoints synchronization<br><strong>Required Scope:</strong> Devices, Create",
        "operationId": "Machines POST",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Machines_Post"
              },
              "example": "[{\"Name\": \"API-migration\",\"SystemName\": \"Windows\",\"SystemVersion\": \"9.9.9\",\"ClientVersion\": \"9.9.9\"}]"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Machines_Post_response"
              }
            }
          }
        }
      }
    },
    "/provisioning/groups.svc/{COMPANY_GUID}/groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get groups",
        "description": "Retrieves all groups for a given company. Only members of the company are authorized to make this call.<br><strong>Required Scope:</strong> Groups, Read",
        "operationId": "Groups GET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An optional parameter that extends the logic of the API. If the value is 'members' then the API will return members of the group in addition to the group information. If the value is empty, then the API will return just the group metadata<br>If equals <i>members</i>,<br/><strong>Required Scope: </strong> Group Members, Read",
            "enum": [
              "members"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "description": "Object with the Group information",
              "items": {
                "$ref": "#/definitions/Groups_Get"
              },
              "example": "[  {    \"Id\": \"111ac911-9f1b-e711-80d8-002590860674\",    \"Name\": \"group_name\",    \"Company\": {      \"Id\": \"897e67cd-799c-4fe9-9bcc-77e822bce777\",      \"Name\": \"company_name\"    },    \"Owner\": {      \"EmailAddress\": \"some_email@company_name.com\",      \"FirstName\": \"firstname\",      \"LastName\": \"lastname\"    },    \"Members\": [      {        \"EmailAddress\": \"someuser1email@domain.com\",        \"FirstName\": \"\",        \"LastName\": \"API\"      },      {        \"EmailAddress\": \"someuser2email@domain.com\",        \"FirstName\": \"\",        \"LastName\": \"\"      }    ],    \"StorageQuotas\": [      {        \"StorageEndpointId\": \"11111111-1111-1111-1111-111111111111\",        \"StorageQuotaGb\": 2,        \"StorageEndpoint\": {          \"Id\": \"11111111-1111-1111-1111-111111111111\",          \"Name\": \"Syncplicity Cloud Storage US\",          \"Version\": 0,          \"SizeGb\": 0,          \"RequiresStorageAuthentication\": false,          \"UserHasStoragePassword\": false,          \"Company\": null,          \"UserStoragePasswordStatus\": 0,          \"Default\": false,          \"IrmRmsOption\": 0,          \"ConsumedGb\": 0        }      }    ],    \"PolicySet\": {      \"Id\": \"11192d62-1111-4f16-98c2-919405d41111\",      \"Name\": \"Default Policy Set\",      \"Priority\": 2,      \"IsDefault\": true,      \"EntitySetType\": 1    },    \"PolicySets\": [      {        \"Id\": \"11192d62-1111-4f16-98c2-919405d41111\",        \"Name\": \"Default Policy Set\",        \"Priority\": 2,        \"IsDefault\": true,        \"EntitySetType\": 1      },      {        \"Id\": \"2226db52-9feb-2222-9566-14884c429222\",        \"Name\": \"Default Storage Set\",        \"Priority\": 1,        \"IsDefault\": true,        \"EntitySetType\": 2      }    ]  }]"
            },
            "examples": {
              "application/json": "[  {    \"Id\": \"111ac911-9f1b-e711-80d8-002590860674\",    \"Name\": \"group_name\",    \"Company\": {      \"Id\": \"897e67cd-799c-4fe9-9bcc-77e822bce777\",      \"Name\": \"company_name\"    },    \"Owner\": {      \"EmailAddress\": \"some_email@company_name.com\",      \"FirstName\": \"firstname\",      \"LastName\": \"lastname\"    },    \"Members\": [      {        \"EmailAddress\": \"someuser1email@domain.com\",        \"FirstName\": \"\",        \"LastName\": \"API\"      },      {        \"EmailAddress\": \"someuser2email@domain.com\",        \"FirstName\": \"\",        \"LastName\": \"\"      }    ],    \"StorageQuotas\": [      {        \"StorageEndpointId\": \"11111111-1111-1111-1111-111111111111\",        \"StorageQuotaGb\": 2,        \"StorageEndpoint\": {          \"Id\": \"11111111-1111-1111-1111-111111111111\",          \"Name\": \"Syncplicity Cloud Storage US\",          \"Version\": 0,          \"SizeGb\": 0,          \"RequiresStorageAuthentication\": false,          \"UserHasStoragePassword\": false,          \"Company\": null,          \"UserStoragePasswordStatus\": 0,          \"Default\": false,          \"IrmRmsOption\": 0,          \"ConsumedGb\": 0        }      }    ],    \"PolicySet\": {      \"Id\": \"11192d62-1111-4f16-98c2-919405d41111\",      \"Name\": \"Default Policy Set\",      \"Priority\": 2,      \"IsDefault\": true,      \"EntitySetType\": 1    },    \"PolicySets\": [      {        \"Id\": \"11192d62-1111-4f16-98c2-919405d41111\",        \"Name\": \"Default Policy Set\",        \"Priority\": 2,        \"IsDefault\": true,        \"EntitySetType\": 1      },      {        \"Id\": \"2226db52-9feb-2222-9566-14884c429222\",        \"Name\": \"Default Storage Set\",        \"Priority\": 1,        \"IsDefault\": true,        \"EntitySetType\": 2      }    ]  }]"
            }
          },
          "403": {
            "description": "(Forbidden) - Not A Business Admin: The current user is not a company administrator for the specified group"
          },
          "404": {
            "description": "(Not Found) - Unknown Company Id: The specified company does not exist"
          }
        }
      },
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Create groups",
        "description": "Creates one or more user groups in the company.<br> Note: any groups in the input values that match an already existing group (by name) will be ignored. The response will contain only those groups that have been successfully created.<br><strong>Required Scope:</strong> Groups, Create",
        "operationId": "Groups CREATE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "description": "Array with groups to create",
              "items": {
                "$ref": "#/definitions/Groups_Post_request"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "description": "Array with created groups with Ids",
              "items": {
                "$ref": "#/definitions/Groups_Post_response"
              }
            },
            "examples": {
              "application/json": "[   {      \"Id\": \"bf789a82-fbc1-e411-80e9-000c294594a5\",      \"Name\": \"<Group1 Name>\",      \"Owner\": {         \"EmailAddress\": \"<Group1 Owner's Email>\"      }   },   {      \"Id\": \"bf789a82-fbc1-e411-80e9-000c29427kf0\",      \"Name\": \"<Group2 Name>\",      \"Owner\": {         \"EmailAddress\": \"<Group2 Owner's Email>\"      }   }]"
            }
          },
          "400": {
            "description": "(Bad Request) - Group Array Must Be Set: Request body must contain ArrayOfGroup element<br>(Bad Request) - Unknown Group Owner Email Address: Group owner must be an existing user account<br>(Bad Request) - Only Company Users Allowed: Group owner must be a member of the company<br>(Bad Request) - Unknown Group Set ID: Unknown Id in PolicySet object<br>(Bad Request) - Multiple Entity Sets Of One Type Are Not Allowed"
          },
          "403": {
            "description": "(Forbidden) - Not A Business Admin: The user attempting to execute this request is not a company administrator<br>(Forbidden) - Not This Company User: The user attempting to execute this request is not a member of the company<br>(Forbidden) - StorageVault Feature Is Disabled<br>(Forbidden) - Max limit on creation reached"
          },
          "404": {
            "description": "(Not Found) - Wrong Company Id: Company ID must be a Guid<br>(Not Found) - Unknown Company Id: A company with the provided ID (Guid) does not exist in Syncplicity"
          }
        }
      },
      "parameters": [
        {
          "name": "COMPANY_GUID",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "Unique ID associated with the company"
        }
      ]
    },
    "/provisioning/user_groups.svc/user/{USER_GUID}/groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get groups which include a user",
        "description": "Retrieves the groups for which the specified user is a member.<br><strong>Required Scope:</strong> Groups, Read",
        "operationId": "User groups GET",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "description": "Object with the Group information",
              "items": {
                "$ref": "#/definitions/UserGroup_Get"
              },
              "example": "[   {   \"Group\": {      \"Id\": \"3e083451-baa7-e411-80e8-000c294594a5\",      \"Name\": \"<User Group Name>\",      \"StorageQuotas\": [         {            \"StorageEndpointId\": \"11111111-1111-1111-1111-111111111111\",            \"StorageQuotaGb\": \"4\",            \"StorageEndpoint\": {               \"Id\": \"11111111-1111-1111-1111-111111111111\",               \"Name\": \"<Storage End Point Name>\"            }         }      ]   }   }]"
            },
            "examples": {
              "application/json": "[   {   \"Group\": {      \"Id\": \"3e083451-baa7-e411-80e8-000c294594a5\",      \"Name\": \"<User Group Name>\",      \"StorageQuotas\": [         {            \"StorageEndpointId\": \"11111111-1111-1111-1111-111111111111\",            \"StorageQuotaGb\": \"4\",            \"StorageEndpoint\": {               \"Id\": \"11111111-1111-1111-1111-111111111111\",               \"Name\": \"<Storage End Point Name>\"            }         }      ]   }   }]"
            }
          },
          "400": {
            "description": "(Bad Request) - Wrong UUID Format: User Guid is invalid"
          },
          "403": {
            "description": "(Forbidden) - Not A Business Admin: The current user is not a company administrator for the specified group<br>(Forbidden) - Not This Company User: The user attempting to execute this request is not a member of the company"
          },
          "404": {
            "description": "(Not Found) - User Not Found: User with specified Guid does not exist"
          }
        }
      },
      "parameters": [
        {
          "name": "USER_GUID",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "Target user's Guid."
        }
      ]
    },
    "/provisioning/group.svc/{GROUP_GUID}": {
      "put": {
        "tags": [
          "Groups"
        ],
        "summary": "Update a group",
        "description": "Updates the name, owner or other attributes of the user group.<br>Note: Only administrators can invoke this API.<br><strong>Required Scope:</strong> Groups, Update",
        "operationId": "Group PUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Group_Put"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/Group_Put"
            },
            "examples": {
              "application/json": "{   \"Name\": \"<Updated Group Name>\",   \"Owner\": {      \"EmailAddress\": \"<Updated Owner's Email Address>\"   },   \"StorageQuotas\": [      {        \"StorageEndpointId\": \"<Updated Storage Endoint Guid>\",        \"StorageQuotaGb\" : \"<Updated Quota in GB>\"      }   ],   \"PolicySets\": [      {         \"Id\": \"<Updated PolicySet Guid>\"      }   ]}"
            }
          },
          "304": {
            "description": "(Not Modified) - No update was made to the Syncplicity Product"
          },
          "400": {
            "description": "(Bad Request) - Company not updateable: If the Company property is included, this error is returned<br>(Bad Request) - Invalid Company Argument<br>(Bad Request) - Missing Company Owner Argument<br>(Bad Request) - Invalid Values in Input<br>(Bad Request) - Invalid Account Type<br>(Bad Request) - Member not updateable<br>(Bad Request) - Group Must be Set: Request body must contain Group element<br>(Bad Request) - Illegal HTML in name: Group name contains illegal characters<br>(Bad Request) - Owner email address must be set and valid: If the Owner property is set, owner email address must be set and valid<br>(Bad Request) - Unknown group owner email address: Group owner must have an existing user account<br>(Bad Request) - Only Company Users Allowed: Group owner must be a member of the group's company (Business)"
          },
          "403": {
            "description": "(Forbidden) - Not A Business Admin: The current user is not a company administrator for the specified group<br>(Forbidden) - Not This Company Group: Requester must be a member of the group's company"
          },
          "404": {
            "description": "(Not Found) - Unknown Group ID: A group with the provided ID (Guid) does not exist in Syncplicity<br>(Not Found) - Wrong Group ID: Group ID must be a Guid<br>(Not Found) - Company Not Found"
          },
          "409": {
            "description": "(Conflict) - Name already exists: Group with the same name already exists in the company"
          }
        }
      },
      "delete": {
        "tags": [
          "Groups"
        ],
        "summary": "Delete a group",
        "description": "Removes the group specified by the supplied group Guid.<br><strong>Required Scope:</strong> Groups, Delete",
        "operationId": "Group DELETE",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "403": {
            "description": "(Forbidden) - Not A Business Admin: The user attempting to execute this request is not a company administrator<br>(Forbidden) - Not This Company Group: Requester must be a member of the group's company"
          },
          "404": {
            "description": "(Not Found) - Unknown Group ID: A group with the provided ID (Guid) does not exist in Syncplicity<br>(Not Found) - Wrong Group ID: Group ID must be a Guid"
          }
        }
      },
      "parameters": [
        {
          "name": "GROUP_GUID",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "Unique ID associated with the group"
        }
      ]
    },
    "/provisioning/group_members.svc/{GROUP_GUID}": {
      "get": {
        "tags": [
          "Group Members"
        ],
        "summary": "Get members of a group",
        "description": "Retrieves the users associated with the specified group identified by the group unique ID (Guid).<br><strong>Required Scope:</strong> Group Members, Read",
        "operationId": "Group members GET",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "description": "Array  with the Group members information",
              "items": {
                "$ref": "#/definitions/ResourceMember"
              },
              "example": "[   {      \"EmailAddress\": \"User's Email\",      \"FirstName\": \"User's First Name\",      \"LastName\": \"User's Last Name\"   },   {      \"EmailAddress\": \"User 2's Email\",      \"FirstName\": \"User 2's First Name\",      \"LastName\": \"User 2's Last Name\"   } ]"
            },
            "examples": {
              "application/json": "[   {      \"EmailAddress\": \"User's Email\",      \"FirstName\": \"User's First Name\",      \"LastName\": \"User's Last Name\"   },   {      \"EmailAddress\": \"User 2's Email\",      \"FirstName\": \"User 2's First Name\",      \"LastName\": \"User 2's Last Name\"   } ]"
            }
          },
          "403": {
            "description": "(Forbidden) - Not A Business User<br>(Forbidden) - Not This Company Group<br>(Forbidden) - User Not Authorized For Action"
          },
          "404": {
            "description": "(Not Found) - Unknown Group ID: A group with the provided ID (Guid) does not exist in Syncplicity<br>(Not Found) - Wrong Group ID: Group ID must be a Guid"
          }
        }
      },
      "post": {
        "tags": [
          "Group Members"
        ],
        "summary": "Add members to a group",
        "description": "Adds one or more members into a group. Any members in the request with a name matching an existing group member are skipped.<br><strong>Required Scope:</strong> Group Members, Create",
        "operationId": "Group members POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Group_Members_POST"
              },
              "example": "[   {      \"EmailAddress\": \"User's Email\"   },    {     \"EmailAddress\": \"User 2's Email\"    }]"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "description": "Object with the Group information",
              "items": {
                "$ref": "#/definitions/Group_Members_POST"
              },
              "example": "[   {      \"EmailAddress\": \"User's Email\"   },   {      \"EmailAddress\": \"User 2's Email\"   } ]"
            },
            "examples": {
              "application/json": "[   {      \"EmailAddress\": \"User's Email\"   },   {      \"EmailAddress\": \"User 2's Email\"   } ]"
            }
          },
          "400": {
            "description": "(Bad Request) - Only Company Users Allowed: Members in the request are not part of the company<br>(Bad Request) - Member array must be set: Request body must contain an array of users<br>(Bad Request) - Unknown member email address: Member email address must be an existing user account<br>(Bad Request) - Member email address must be set and valid"
          },
          "403": {
            "description": "(Forbidden) - Not A Business Admin: The user attempting to execute this request is not a company administrator<br>(Forbidden) - Not This Company Group: Requester must be a member of the group's company"
          },
          "404": {
            "description": "(Not Found) - Unknown Group ID: A group with the provided ID (Guid) does not exist in Syncplicity<br>(Not Found) - Wrong Group ID: Group ID must be a Guid"
          }
        }
      },
      "parameters": [
        {
          "name": "GROUP_GUID",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "Unique ID associated with the group"
        }
      ]
    },
    "/provisioning/group_member.svc/{GROUP_GUID}/member/{USER_EMAIL}": {
      "get": {
        "tags": [
          "Group Members"
        ],
        "summary": "Get member of a group",
        "description": "Returns properties of exact group member<br><strong>Required Scope:</strong> Group Members, Read",
        "operationId": "Group member GET",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/ResourceMember"
            },
            "examples": {
              "application/json": "{      \"EmailAddress\": \"User's Email\",      \"FirstName\": \"User's First Name\",      \"LastName\": \"User's Last Name\"   }"
            }
          },
          "400": {
            "description": "(Bad Request) - Only Company Users Allowed<br>(Bad Request) - Member Email Address Must Be Set And Valid"
          },
          "403": {
            "description": "(Forbidden) - Not A Business Admin: The user attempting to execute this request is not a company administrator<br>(Forbidden) - Not This Company Group: Requester must be a member of the group's company<br>(Forbidden) - Request Came From Unapproved IP Address<br>(Forbidden) - User Not Authorized For Action"
          },
          "404": {
            "description": "(Not Found) - Unknown Group ID: A group with the provided ID (Guid) does not exist in Syncplicity<br>(Not Found) - Wrong Group ID: Group ID must be a Guid<br>(Not Found) - Not This Group Member<br>(Not Found) - Unknown User Email"
          }
        }
      },
      "delete": {
        "tags": [
          "Group Members"
        ],
        "summary": "Remove member from a group",
        "description": "Removes the specified user from the group. The application must be running as a user that has administrator rights to perform the delete action.<br><strong>Required Scope:</strong> Group Members, Delete",
        "operationId": "Group member DELETE",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "(Bad Request) - Only Company Users Allowed<br>(Bad Request) - Member Email Address Must Be Set And Valid"
          },
          "403": {
            "description": "(Forbidden) - Not A Business Admin: The user attempting to execute this request is not a company administrator<br>(Forbidden) - Not This Company Group: Requester must be a member of the group's company<br>(Forbidden) - Request Came From Unapproved IP Address<br>(Forbidden) - User Not Authorized For Action"
          },
          "404": {
            "description": "(Not Found) - Unknown Group ID: A group with the provided ID (Guid) does not exist in Syncplicity<br>(Not Found) - Wrong Group ID: Group ID must be a Guid<br>(Not Found) - Not This Group Member<br>(Not Found) - Unknown User Email"
          }
        }
      },
      "parameters": [
        {
          "name": "GROUP_GUID",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "Unique ID associated with the group"
        },
        {
          "name": "USER_EMAIL",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "Email address of the group member. The email address must be registered with Syncplicity and associated with the user group"
        }
      ]
    },
    "/provisioning/policyset.svc/{POLICYSET_GUID}": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "Get a policyset by ID",
        "description": "Retrieves the PolicySet definition and current settings by the identified Guid. A policyset is a grouping of various policies that should be applied concurrently. Policy sets can be applied by name and Id to various parts of the system including storage systems, user groups and allow the administrator to control the various behaviors of the Syncplicity system by the specific attributes of the policy definitions.<br><strong>Required Scope:</strong> Policies, Read",
        "operationId": "Policyset GET",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/PolicySet_Get"
            },
            "examples": {
              "application/json": "   {      \"Id\":\"de53a76c-0311-44d1-8a70-808eb470d5b9\",      \"Name\": \"<PolicySet Name>\",      \"IsDefault\": true,      \"Priority\": 14,      \"Policy\": {         \"ClientAutoUpdatePolicy\": 3,         \"ClientPreconfiguredPolicy\": 2,         \"SharedFolderPolicy\": 3,         \"IncludeOwnerInFolderNamePolicy\": 1,         \"RemoteWipeSyncpointPolicy\": 2,         \"MobileSyncPolicy\": 1,         \"MobileUnencryptedSyncPolicy\": 2,         \"MobileSyncLimitsPolicy\": 1,         \"MobileDataSyncLimit\": {            \"TransferLimit\": 1024,            \"BillingCycleResetDay\": 1         },         \"ShareLinkPasswordProtectedPolicy\": 2,         \"ShareLinkPasswordComplexity\": 1,         \"ShareLinkPasswordLength\": 6,         \"ShareLinkExpirationPolicy\": 1,         \"ShareLinkExpireInDays\": 10,         \"ShareLinkPolicy\": 4,         \"DesktopShareLinkFlowPolicy\": 2,         \"ReportExportOutputFolderPolicy\": 1,         \"AdminIpRestrictionPolicy\": 1,         \"AdminIpRestriction\": {            \"AllowedIPs\": \"\",             \"Message\": \"You are attempting to perform an administrator action from an IP address that your company has not approved.\"         },         \"AdminPasswordComplexityPolicy\": 2,         \"AdminPasswordComplexity\": {            \"AdminPasswordComplexityOptions\": 55,            \"AdminPasswordComplexityMinimumLength\": 10,            \"AdminPasswordComplexityMaximumLength\": 15         },         \"RestrictMobileAccessPolicy\": 1,         \"RestrictWebsiteAccessPolicy\": 1,         \"RssNewsFeedPolicy\": 2,         \"BranchingPolicy\": 2,         \"RemoteWipeUsersPolicy\": 1,         \"RemoteWipeEndpointPolicy\": 1,         \"EnforceClientMemberActiveDirectoryPolicy\": 1,         \"EnforceClientMemberActiveDirectoryPolicyDomains\": \"\",         \"IrmPolicy\": {            \"SecureSendPolicy\": 1         },         \"GeoRestrictionPolicy\": 1,         \"GeoRestrictionCountryList\": [],         \"RolePermissionsList\": [],         \"DefaultStorageEndpointId\": \"11111111-1111-1111-1111-111111111111\",         \"PasscodeEnforcementPolicy\": 1,         \"PasscodeFailurePolicy\": 1,         \"PasscodeFailures\": {            \"AllowablePasscodeFailures\": 10         },         \"OpenInPolicy\": 1,         \"SharedFolderResharingPolicy\": 3,         \"GeolocationPrivacyPolicy\": 2,         \"SharePointConnectorPolicy\": 2,         \"SharePointConnectors\": [            {               \"Id\": \"<SharePointConnector Guid>\",               \"Name\":\"<SharePointConnector Name>\",               \"Url\": \"<SharePointConnector Url>\",               \"Enabled\": true,               \"Bookmarks\": {               \"Id\":\"<Bookmark Id>\",                  \"Name\": \"<Bookmark Name>\",                  \"Url\": \"<Bookmark Url>\",                  \"Enabled\": true               }            }         ],         \"NetworkShareConnectorPolicy\": 2,         \"NetworkShareConnectors\": [            {               \"Id\": \"<NetworkShareConnector Guid>\",               \"Name\": \"<NetworkShareConnector Name>\",               \"Url\": \"<NetworkShareConnector Url>\",               \"Enabled\": true,               \"Bookmarks\": {                  \"Id\":\"<Bookmark Id>\",                  \"Name\": \"<Bookmark Name>\",                  \"Url\": \"<Bookmark Url>\",                  \"Enabled\": true               }            }         ],         \"HomeDirectoryPolicy\": {            \"Name\": \"<HomeDirectoryPolicy Name>\",            \"ConnectorId\": \"<HomeDirectory Connector Id>\",            \"ConnectorUrl\": \"<HomeDirectory Connector Url>\"         },         \"FileExclusionPolicy\": 2,         \"FileExclusions\": [            {               \"Extension\": \"bak\"            },            {               \"Extension\": \"tmp\"            }         ],         \"OutlookClientAutoUpdatePolicy\": 3,         \"OutlookFileExclusionPolicy\": 2,         \"OutlookFileExclusionValues\": [            {               \"Extension\": \"bak\"            },            {               \"Extension\": \"ost\"            },            {               \"Extension\": \"tmp\"            }         ],         \"OutlookFileSizePolicy\": 1,         \"OutlookFileSizeValue\": 10,         \"OutlookIntegrationPolicy\": 1,         \"OutlookSharedLinkAccessPolicy\": 3,         \"OutlookSharedLinkExpirationPolicy\": 1,         \"OutlookSharedLinkExpirationDays\": 10,         \"OutlookSharedLinkPasswordProtectionPolicy\": 1,         \"OutlookShareLinkPasswordComplexity\": 2,         \"OutlookShareLinkPasswordLength\": 8,         \"BandwidthRestrictionPolicy\": 1,         \"BandwidthRestrictionUploadPolicy\": 1,         \"BandwidthRestrictionUploadSize\": \"999999\",         \"BandwidthRestrictionDownloadPolicy\": 1,         \"BandwidthRestrictionDownloadSize\": \"0\",         \"SilentOnboardPolicy\": 1,         \"SilentOnboardDisplayMachineScreenPolicy\": 2,         \"SilentOnboardDisplayCustomFolderScreenPolicy\": 2,         \"SilentOnboardDisplayTutorialScreensPolicy\": 2,         \"SilentOnboardDefaultLocationPolicy\": 1,         \"SilentOnboardWinDefaultLocationPolicy\": 1,         \"SilentOnboardWinDefaultLocationValue\": \"\",         \"SilentOnboardMacDefaultLocationPolicy\": 1,         \"SilentOnboardMacDefaultLocationValue\": \"\"      },      \"Groups\": [         {            \"Id\": \"<Group 1 Guid>\",            \"Name\": \"<Group 1 Name>\"         },         {            \"Id\": \"<Group 2 Guid>\",            \"Name\": \"<Group 2 Name>\"         }      ],      \"EntitySetType\": 1   }"
            }
          },
          "400": {
            "description": "(Bad Request) - Not A Business Admin"
          },
          "403": {
            "description": "(Forbidden) - Request Came From An Unapproved IP Address<br>(Forbidden) - Not This Company User"
          },
          "404": {
            "description": "(Not Found) - Wrong PolicySet ID<br>(Not Found) - Unknown PolicySet"
          }
        }
      },
      "parameters": [
        {
          "name": "POLICYSET_GUID",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "Guid associated with PolicySet"
        }
      ]
    },
    "/provisioning/policyset.svc/": {
      "put": {
        "tags": [
          "Policies"
        ],
        "summary": "Update a policyset",
        "description": "Updates an existing PolicySet definition. A policyset is a grouping of various policies that should be applied concurrently. Policy sets can be applied by name and Id to various parts of the system including storage systems, user groups and allow the administrator to control the various behaviors of the Syncplicity system by the specific attributes of the policy definitions.<br>Note: only one PolicySet can be updated per request.<br><strong>Required Scope:</strong> Policies, Update",
        "operationId": "Policyset PUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicySet_Put_Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/PolicySet_Get"
            },
            "examples": {
              "application/json": "{   \"Id\":\"de53a76c-0311-44d1-8a70-808eb470d5b9\",   \"Name\":\"<PolicySet Name>\",   \"IsDefault\":true,   \"Priority\":14,   \"Policy\":{      \"ClientAutoUpdatePolicy\":3,      \"ClientPreconfiguredPolicy\":2,      \"SharedFolderPolicy\":3,      \"IncludeOwnerInFolderNamePolicy\":1,      \"RemoteWipeSyncpointPolicy\":2,      \"MobileSyncPolicy\":1,      \"MobileUnencryptedSyncPolicy\":2,      \"MobileSyncLimitsPolicy\":1,      \"MobileDataSyncLimit\":{         \"TransferLimit\":1024,         \"BillingCycleResetDay\":1      },      \"ShareLinkPasswordProtectedPolicy\":2,      \"ShareLinkPasswordComplexity\":1,      \"ShareLinkPasswordLength\":6,      \"ShareLinkExpirationPolicy\":1,      \"ShareLinkExpireInDays\":10,      \"ShareLinkPolicy\":4,      \"DesktopShareLinkFlowPolicy\":2,      \"ReportExportOutputFolderPolicy\":1,      \"AdminIpRestrictionPolicy\":1,      \"AdminIpRestriction\":{         \"AllowedIPs\":\"\",         \"Message\": \"You are attempting to perform an administrator action from an IP address that your company has not approved.\"      },      \"AdminPasswordComplexityPolicy\":2,      \"AdminPasswordComplexity\":{         \"AdminPasswordComplexityOptions\":55,         \"AdminPasswordComplexityMinimumLength\":10,         \"AdminPasswordComplexityMaximumLength\":15      },      \"RestrictMobileAccessPolicy\":1,      \"RestrictWebsiteAccessPolicy\":1,      \"RssNewsFeedPolicy\":2,      \"BranchingPolicy\":2,      \"RemoteWipeUsersPolicy\":1,      \"RemoteWipeEndpointPolicy\":1,      \"EnforceClientMemberActiveDirectoryPolicy\":1,      \"EnforceClientMemberActiveDirectoryPolicyDomains\":\"\",      \"IrmPolicy\":{         \"SecureSendPolicy\":1      },      \"GeoRestrictionPolicy\":1,      \"GeoRestrictionCountryList\": [],      \"RolePermissionsList\": [],      \"DefaultStorageEndpointId\":\"11111111-1111-1111-1111-111111111111\",      \"PasscodeEnforcementPolicy\":1,      \"PasscodeFailurePolicy\":1,      \"PasscodeFailures\":{         \"AllowablePasscodeFailures\":10      },      \"OpenInPolicy\":1,      \"SharedFolderResharingPolicy\":3,      \"GeolocationPrivacyPolicy\":2,      \"SharePointConnectorPolicy\":2,      \"SharePointConnectors\":[         {            \"Id\":\"<SharePointConnector Guid>\",            \"Name\":\"<SharePointConnector Name>\",            \"Url\":\"<SharePointConnector Url>\",            \"Enabled\":true,            \"Bookmarks\":{               \"Id\":\"<Bookmark Id>\",               \"Name\":\"<Bookmark Name>\",               \"Url\":\"<Bookmark Url>\",               \"Enabled\":true            }         }      ],      \"NetworkShareConnectorPolicy\":2,      \"NetworkShareConnectors\":[         {            \"Id\":\"<NetworkShareConnector Guid>\",            \"Name\":\"<NetworkShareConnector Name>\",            \"Url\":\"<NetworkShareConnector Url>\",            \"Enabled\":true,            \"Bookmarks\":{               \"Id\":\"<Bookmark Id>\",               \"Name\":\"<Bookmark Name>\",               \"Url\":\"<Bookmark Url>\",               \"Enabled\":true            }         }      ],      \"HomeDirectoryPolicy\":{         \"Name\":\"<HomeDirectoryPolicy Name>\",         \"ConnectorId\":\"<HomeDirectory Connector Id>\",         \"ConnectorUrl\":\"<HomeDirectory Connector Url>\"      },      \"FileExclusionPolicy\":2,      \"FileExclusions\":[         {            \"Extension\":\"bak\"         },         {            \"Extension\":\"tmp\"         }      ],      \"OutlookClientAutoUpdatePolicy\":3,      \"OutlookFileExclusionPolicy\":2,      \"OutlookFileExclusionValues\":[         {            \"Extension\":\"bak\"         },         {            \"Extension\":\"ost\"         },         {            \"Extension\":\"tmp\"         }      ],      \"OutlookFileSizePolicy\":1,      \"OutlookFileSizeValue\":10,      \"OutlookIntegrationPolicy\":1,      \"OutlookSharedLinkAccessPolicy\":3,      \"OutlookSharedLinkExpirationPolicy\":1,      \"OutlookSharedLinkExpirationDays\":10,      \"OutlookSharedLinkPasswordProtectionPolicy\":1,      \"OutlookShareLinkPasswordComplexity\":2,      \"OutlookShareLinkPasswordLength\":8,      \"BandwidthRestrictionPolicy\":1,      \"BandwidthRestrictionUploadPolicy\":1,      \"BandwidthRestrictionUploadSize\":\"999999\",      \"BandwidthRestrictionDownloadPolicy\":1,      \"BandwidthRestrictionDownloadSize\":\"0\",      \"SilentOnboardPolicy\":1,      \"SilentOnboardDisplayMachineScreenPolicy\":2,      \"SilentOnboardDisplayCustomFolderScreenPolicy\":2,      \"SilentOnboardDisplayTutorialScreensPolicy\":2,      \"SilentOnboardDefaultLocationPolicy\":1,      \"SilentOnboardWinDefaultLocationPolicy\":1,      \"SilentOnboardWinDefaultLocationValue\":\"\",      \"SilentOnboardMacDefaultLocationPolicy\":1,      \"SilentOnboardMacDefaultLocationValue\":\"\"   },   \"Groups\":[      {         \"Id\":\"<Group 1 Guid>\",         \"Name\":\"<Group 1 Name>\"      },      {         \"Id\":\"<Group 2 Guid>\",         \"Name\":\"<Group 2 Name>\"      }   ],   \"EntitySetType\":1}"
            }
          },
          "400": {
            "description": "(Bad Request) - Not A Business Admin<br>(Bad Request) - Invalid EntitySetType: Type should be different from zero<br>(Bad Request) - Invalid Name: Name of policy set must be not empty"
          },
          "403": {
            "description": "(Forbidden) - Request Came From An Unapproved IP Address<br>(Forbidden) - Not This Company User<br>"
          },
          "404": {
            "description": "(Not Found) - Unknown Policy Set: Policyset with supplied Id is not found<br>(Not Found) - Unknown Group Id: Group with supplied Id is not found"
          },
          "409": {
            "description": "(Conflict) - Name Already Exists<br>(Conflict) - Home Directory Display Name Already Exists"
          }
        }
      },
      "delete": {
        "tags": [
          "Policies"
        ],
        "summary": "Delete a policyset",
        "description": "Deletes an existing policyset defined in request body<br><strong>Required Scope:</strong> Policies, Delete",
        "operationId": "Policyset DELETE",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicySet_Delete",
              "example": "{ \"Id\": \"abc1234d-6ea3-4058-a25b-fbd9726f25ae\" }"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status 200"
          }
        }
      }
    },
    "/provisioning/policysets.svc/": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "Get policysets",
        "description": "Retrieves the PolicySet definition and current settings associated with the given user and PolicySet type. A policyset is a grouping of various policies that should be applied concurrently. Policy sets can be applied by name and Id to various parts of the system including storage systems, user groups and allow the administrator to control the various behaviors of the Syncplicity system by the specific attributes of the policy definitions.<br><strong>Required Scope:</strong> Policies, Read",
        "operationId": "Policysets GET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Guid identifier of the user. Controls only Groups property population - only those groups that user belongs to are returned for each set."
          },
          {
            "name": "entity_type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "If specified, only policysets of that entity type will be returned. Otherwise, all types of policysets will be returned.",
            "enum": [
              "PolicySet",
              "StorageSet",
              "HomeDirectorySet"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PolicySet_Get"
              }
            },
            "examples": {
              "application/json": "{   \"Id\":\"de53a76c-0311-44d1-8a70-808eb470d5b9\",   \"Name\":\"<PolicySet Name>\",   \"IsDefault\":true,   \"Priority\":14,   \"Policy\":{      \"ClientAutoUpdatePolicy\":3,      \"ClientPreconfiguredPolicy\":2,      \"SharedFolderPolicy\":3,      \"IncludeOwnerInFolderNamePolicy\":1,      \"RemoteWipeSyncpointPolicy\":2,      \"MobileSyncPolicy\":1,      \"MobileUnencryptedSyncPolicy\":2,      \"MobileSyncLimitsPolicy\":1,      \"MobileDataSyncLimit\":{         \"TransferLimit\":1024,         \"BillingCycleResetDay\":1      },      \"ShareLinkPasswordProtectedPolicy\":2,      \"ShareLinkPasswordComplexity\":1,      \"ShareLinkPasswordLength\":6,      \"ShareLinkExpirationPolicy\":1,      \"ShareLinkExpireInDays\":10,      \"ShareLinkPolicy\":4,      \"DesktopShareLinkFlowPolicy\":2,      \"ReportExportOutputFolderPolicy\":1,      \"AdminIpRestrictionPolicy\":1,      \"AdminIpRestriction\":{         \"AllowedIPs\":\"\",         \"Message\":\"You are attempting to perform an administrator action from an IP address that your company has not approved.\"      },      \"AdminPasswordComplexityPolicy\":2,      \"AdminPasswordComplexity\":{         \"AdminPasswordComplexityOptions\":55,         \"AdminPasswordComplexityMinimumLength\":10,         \"AdminPasswordComplexityMaximumLength\":15      },      \"RestrictMobileAccessPolicy\":1,      \"RestrictWebsiteAccessPolicy\":1,      \"RssNewsFeedPolicy\":2,      \"BranchingPolicy\":2,      \"RemoteWipeUsersPolicy\":1,      \"RemoteWipeEndpointPolicy\":1,      \"EnforceClientMemberActiveDirectoryPolicy\":1,      \"EnforceClientMemberActiveDirectoryPolicyDomains\":\"\",      \"IrmPolicy\":{         \"SecureSendPolicy\":1      },      \"GeoRestrictionPolicy\":1,      \"GeoRestrictionCountryList\":[],         \"RolePermissionsList\": [],      \"DefaultStorageEndpointId\":\"11111111-1111-1111-1111-111111111111\",      \"PasscodeEnforcementPolicy\":1,      \"PasscodeFailurePolicy\":1,      \"PasscodeFailures\":{         \"AllowablePasscodeFailures\":10      },      \"OpenInPolicy\":1,      \"SharedFolderResharingPolicy\":3,      \"GeolocationPrivacyPolicy\":2,      \"SharePointConnectorPolicy\":2,      \"SharePointConnectors\":[         {            \"Id\":\"<SharePointConnector Guid>\",            \"Name\":\"<SharePointConnector Name>\",            \"Url\":\"<SharePointConnector Url>\",            \"Enabled\":true,            \"Bookmarks\":{               \"Id\":\"<Bookmark Id>\",               \"Name\":\"<Bookmark Name>\",               \"Url\":\"<Bookmark Url>\",               \"Enabled\":true            }         }      ],      \"NetworkShareConnectorPolicy\":2,      \"NetworkShareConnectors\":[         {            \"Id\":\"<NetworkShareConnector Guid>\",            \"Name\":\"<NetworkShareConnector Name>\",            \"Url\":\"<NetworkShareConnector Url>\",            \"Enabled\":true,            \"Bookmarks\":{               \"Id\":\"<Bookmark Id>\",               \"Name\":\"<Bookmark Name>\",               \"Url\":\"<Bookmark Url>\",               \"Enabled\":true            }         }      ],      \"HomeDirectoryPolicy\":{         \"Name\":\"<HomeDirectoryPolicy Name>\",         \"ConnectorId\":\"<HomeDirectory Connector Id>\",         \"ConnectorUrl\":\"<HomeDirectory Connector Url>\"      },      \"FileExclusionPolicy\":2,      \"FileExclusions\":[         {            \"Extension\":\"bak\"         },         {            \"Extension\":\"tmp\"         }      ],      \"OutlookClientAutoUpdatePolicy\":3,      \"OutlookFileExclusionPolicy\":2,      \"OutlookFileExclusionValues\":[         {            \"Extension\":\"bak\"         },         {            \"Extension\":\"ost\"         },         {            \"Extension\":\"tmp\"         }      ],      \"OutlookFileSizePolicy\":1,      \"OutlookFileSizeValue\":10,      \"OutlookIntegrationPolicy\":1,      \"OutlookSharedLinkAccessPolicy\":3,      \"OutlookSharedLinkExpirationPolicy\":1,      \"OutlookSharedLinkExpirationDays\":10,      \"OutlookSharedLinkPasswordProtectionPolicy\":1,      \"OutlookShareLinkPasswordComplexity\":2,      \"OutlookShareLinkPasswordLength\":8,      \"BandwidthRestrictionPolicy\":1,      \"BandwidthRestrictionUploadPolicy\":1,      \"BandwidthRestrictionUploadSize\":\"999999\",      \"BandwidthRestrictionDownloadPolicy\":1,      \"BandwidthRestrictionDownloadSize\":\"0\",      \"SilentOnboardPolicy\":1,      \"SilentOnboardDisplayMachineScreenPolicy\":2,      \"SilentOnboardDisplayCustomFolderScreenPolicy\":2,      \"SilentOnboardDisplayTutorialScreensPolicy\":2,      \"SilentOnboardDefaultLocationPolicy\":1,      \"SilentOnboardWinDefaultLocationPolicy\":1,      \"SilentOnboardWinDefaultLocationValue\":\"\",      \"SilentOnboardMacDefaultLocationPolicy\":1,      \"SilentOnboardMacDefaultLocationValue\":\"\"   },   \"Groups\":[      {         \"Id\":\"<Group 1 Guid>\",         \"Name\":\"<Group 1 Name>\"      },      {         \"Id\":\"<Group 2 Guid>\",         \"Name\":\"<Group 2 Name>\"      }   ],   \"EntitySetType\":1}"
            }
          },
          "400": {
            "description": "(Bad Request) - Not A Business Admin<br>(Bad Request) - Invalid User Id: The supplied userId is invalid"
          },
          "403": {
            "description": "(Forbidden) - Request Came From An Unapproved IP Address<br>(Forbidden) - Not A Business Admin: The current user is not an administrator and the \"user\" query parameter is specified<br>(Forbidden) - Not This Company User: \"user\" query parameter is specified but the user is not from current company"
          },
          "404": {
            "description": "(Not Found) - The \"user\" query parameter is specified, but the user does not exist"
          }
        }
      },
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "Create policysets",
        "description": "Creates PolicySets. A policyset is a grouping of various policies that should be applied concurrently. Policy sets can be applied by name and Id to various parts of the system including storage systems, user groups and allow the administrator to control the various behaviors of the Syncplicity system by the specific attributes of the policy definitions.<br><strong>Required Scope:</strong> Policies, Create",
        "operationId": "Policysets POST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PolicySets_Post_Request"
              }
            },
            "x-examples": {
              "application/json": "[   {      \"Name\":\"<PolicySet Name>\",      \"IsDefault\":true,      \"Priority\":\"<Integer, 1 is Highest>\",      \"Policy\":{         \"ClientAutoUpdatePolicy\":3,         \"ClientPreconfiguredPolicy\":2,         \"SharedFolderPolicy\":3,         \"IncludeOwnerInFolderNamePolicy\":1,         \"RemoteWipeSyncpointPolicy\":2,         \"MobileSyncPolicy\":1,         \"MobileUnencryptedSyncPolicy\":2,         \"MobileSyncLimitsPolicy\":1,         \"MobileDataSyncLimit\":{            \"TransferLimit\":1024,            \"BillingCycleResetDay\":1         },         \"ShareLinkPasswordProtectedPolicy\":2,         \"ShareLinkPasswordComplexity\":1,         \"ShareLinkPasswordLength\":6,         \"ShareLinkExpirationPolicy\":1,         \"ShareLinkExpireInDays\":10,         \"ShareLinkPolicy\":4,         \"DesktopShareLinkFlowPolicy\":2,         \"ReportExportOutputFolderPolicy\":1,         \"AdminIpRestrictionPolicy\":1,         \"AdminIpRestriction\":{            \"AllowedIPs\":\"\",            \"Message\":\"You are attempting to perform an administrator action from an IP address that your company has not approved.\"         },         \"AdminPasswordComplexityPolicy\":2,         \"AdminPasswordComplexity\":{            \"AdminPasswordComplexityOptions\":55,            \"AdminPasswordComplexityMinimumLength\":10,            \"AdminPasswordComplexityMaximumLength\":15         },         \"RestrictMobileAccessPolicy\":1,         \"RestrictWebsiteAccessPolicy\":1,         \"RssNewsFeedPolicy\":2,         \"BranchingPolicy\":2,         \"RemoteWipeUsersPolicy\":1,         \"RemoteWipeEndpointPolicy\":1,         \"EnforceClientMemberActiveDirectoryPolicy\":1,         \"EnforceClientMemberActiveDirectoryPolicyDomains\":\"\",         \"IrmPolicy\":{            \"SecureSendPolicy\":1         },         \"GeoRestrictionPolicy\":1,         \"GeoRestrictionCountryList\": [],         \"RolePermissionsList\": [],         \"DefaultStorageEndpointId\":\"11111111-1111-1111-1111-111111111111\",         \"PasscodeEnforcementPolicy\":1,         \"PasscodeFailurePolicy\":1,         \"PasscodeFailures\":{            \"AllowablePasscodeFailures\":10         },         \"OpenInPolicy\":1,         \"SharedFolderResharingPolicy\":3,         \"GeolocationPrivacyPolicy\":2,         \"SharePointConnectorPolicy\":2,         \"SharePointConnectors\":[            {               \"Id\":\"<SharePointConnector Guid>\",               \"Name\":\"<SharePointConnector Name>\",               \"Url\":\"<SharePointConnector Url>\",               \"Enabled\":true,               \"Bookmarks\":{                  \"Id\":\"<Bookmark ID>\",                  \"Name\":\"<Bookmark Name>\",                  \"Url\":\"<Bookmark Url>\",                  \"Enabled\":true               }            }         ],         \"NetworkShareConnectorPolicy\":2,         \"NetworkShareConnectors\":[            {               \"Id\":\"<NetworkShareConnector Guid>\",               \"Name\":\"<NetworkShareConnector Name>\",               \"Url\":\"<NetworkShareConnector Url>\",               \"Enabled\":true,               \"Bookmarks\":{                  \"Id\":\"<Bookmark ID>\",                  \"Name\":\"<Bookmark Name>\",                  \"Url\":\"<Bookmark Url>\",                  \"Enabled\":true               }            }         ],         \"HomeDirectoryPolicy\":{            \"Name\":\"<HomeDirectoryPolicy Name>\",            \"ConnectorId\":\"<HomeDirectory Connector ID>\",            \"ConnectorUrl\":\"<HomeDirectory Connector Url>\"         },         \"FileExclusionPolicy\":2,         \"FileExclusions\":[            {               \"Extension\":\"bak\"            },            {               \"Extension\":\"tmp\"            }         ],         \"OutlookClientAutoUpdatePolicy\":3,         \"OutlookFileExclusionPolicy\":2,         \"OutlookFileExclusionValues\":[            {               \"Extension\":\"bak\"            },            {               \"Extension\":\"ost\"            },            {               \"Extension\":\"tmp\"            }         ],         \"OutlookFileSizePolicy\":1,         \"OutlookFileSizeValue\":10,         \"OutlookIntegrationPolicy\":1,         \"OutlookSharedLinkAccessPolicy\":3,         \"OutlookSharedLinkExpirationPolicy\":1,         \"OutlookSharedLinkExpirationDays\":10,         \"OutlookSharedLinkPasswordProtectionPolicy\":1,         \"OutlookShareLinkPasswordComplexity\":2,         \"OutlookShareLinkPasswordLength\":8,         \"BandwidthRestrictionPolicy\":1,         \"BandwidthRestrictionUploadPolicy\":1,         \"BandwidthRestrictionUploadSize\":\"999999\",         \"BandwidthRestrictionDownloadPolicy\":1,         \"BandwidthRestrictionDownloadSize\":\"0\",         \"SilentOnboardPolicy\":1,         \"SilentOnboardDisplayMachineScreenPolicy\":2,         \"SilentOnboardDisplayCustomFolderScreenPolicy\":2,         \"SilentOnboardDisplayTutorialScreensPolicy\":2,         \"SilentOnboardDefaultLocationPolicy\":1,         \"SilentOnboardWinDefaultLocationPolicy\":1,         \"SilentOnboardWinDefaultLocationValue\":\"\",         \"SilentOnboardMacDefaultLocationPolicy\":1,         \"SilentOnboardMacDefaultLocationValue\":\"\"      },      \"CopiedFromSetId\":\"<PolicySet Guid to Copy>\",      \"Groups\":[         \"<Group 1 Guid>\",         \"<Group 2 Guid>\"      ],      \"EntitySetType\":1   }]"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PolicySets_Post_Response"
              },
              "example": "[{   \"Id\":\"de53a76c-0311-44d1-8a70-808eb470d5b9\",   \"Name\":\"<PolicySet Name>\",   \"IsDefault\":true,   \"Priority\":14,   \"Policy\":{      \"ClientAutoUpdatePolicy\":3,      \"ClientPreconfiguredPolicy\":2,      \"SharedFolderPolicy\":3,      \"IncludeOwnerInFolderNamePolicy\":1,      \"RemoteWipeSyncpointPolicy\":2,      \"MobileSyncPolicy\":1,      \"MobileUnencryptedSyncPolicy\":2,      \"MobileSyncLimitsPolicy\":1,      \"MobileDataSyncLimit\":{         \"TransferLimit\":1024,         \"BillingCycleResetDay\":1      },      \"ShareLinkPasswordProtectedPolicy\":2,      \"ShareLinkPasswordComplexity\":1,      \"ShareLinkPasswordLength\":6,      \"ShareLinkExpirationPolicy\":1,      \"ShareLinkExpireInDays\":10,      \"ShareLinkPolicy\":4,      \"DesktopShareLinkFlowPolicy\":2,      \"ReportExportOutputFolderPolicy\":1,      \"AdminIpRestrictionPolicy\":1,      \"AdminIpRestriction\":{         \"AllowedIPs\":\"\",         \"Message\":\"You are attempting to perform an administrator action from an IP address that your company has not approved.\"      },      \"AdminPasswordComplexityPolicy\":2,      \"AdminPasswordComplexity\":{         \"AdminPasswordComplexityOptions\":55,         \"AdminPasswordComplexityMinimumLength\":10,         \"AdminPasswordComplexityMaximumLength\":15      },      \"RestrictMobileAccessPolicy\":1,      \"RestrictWebsiteAccessPolicy\":1,      \"RssNewsFeedPolicy\":2,      \"BranchingPolicy\":2,      \"RemoteWipeUsersPolicy\":1,      \"RemoteWipeEndpointPolicy\":1,      \"EnforceClientMemberActiveDirectoryPolicy\":1,      \"EnforceClientMemberActiveDirectoryPolicyDomains\":\"\",      \"IrmPolicy\":{         \"SecureSendPolicy\":1      },      \"GeoRestrictionPolicy\":1,      \"GeoRestrictionCountryList\":[],         \"RolePermissionsList\": [],      \"DefaultStorageEndpointId\":\"11111111-1111-1111-1111-111111111111\",      \"PasscodeEnforcementPolicy\":1,      \"PasscodeFailurePolicy\":1,      \"PasscodeFailures\":{         \"AllowablePasscodeFailures\":10      },      \"OpenInPolicy\":1,      \"SharedFolderResharingPolicy\":3,      \"GeolocationPrivacyPolicy\":2,      \"SharePointConnectorPolicy\":2,      \"SharePointConnectors\":[         {            \"Id\":\"<SharePointConnector Guid>\",            \"Name\":\"<SharePointConnector Name>\",            \"Url\":\"<SharePointConnector Url>\",            \"Enabled\":true,            \"Bookmarks\":{               \"Id\":\"<Bookmark Id>\",               \"Name\":\"<Bookmark Name>\",               \"Url\":\"<Bookmark Url>\",               \"Enabled\":true            }         }      ],      \"NetworkShareConnectorPolicy\":2,      \"NetworkShareConnectors\":[         {            \"Id\":\"<NetworkShareConnector Guid>\",            \"Name\":\"<NetworkShareConnector Name>\",            \"Url\":\"<NetworkShareConnector Url>\",            \"Enabled\":true,            \"Bookmarks\":{               \"Id\":\"<Bookmark Id>\",               \"Name\":\"<Bookmark Name>\",               \"Url\":\"<Bookmark Url>\",               \"Enabled\":true            }         }      ],      \"HomeDirectoryPolicy\":{         \"Name\":\"<HomeDirectoryPolicy Name>\",         \"ConnectorId\":\"<HomeDirectory Connector Id>\",         \"ConnectorUrl\":\"<HomeDirectory Connector Url>\"      },      \"FileExclusionPolicy\":2,      \"FileExclusions\":[         {            \"Extension\":\"bak\"         },         {            \"Extension\":\"tmp\"         }      ],      \"OutlookClientAutoUpdatePolicy\":3,      \"OutlookFileExclusionPolicy\":2,      \"OutlookFileExclusionValues\":[         {            \"Extension\":\"bak\"         },         {            \"Extension\":\"ost\"         },         {            \"Extension\":\"tmp\"         }      ],      \"OutlookFileSizePolicy\":1,      \"OutlookFileSizeValue\":10,      \"OutlookIntegrationPolicy\":1,      \"OutlookSharedLinkAccessPolicy\":3,      \"OutlookSharedLinkExpirationPolicy\":1,      \"OutlookSharedLinkExpirationDays\":10,      \"OutlookSharedLinkPasswordProtectionPolicy\":1,      \"OutlookShareLinkPasswordComplexity\":2,      \"OutlookShareLinkPasswordLength\":8,      \"BandwidthRestrictionPolicy\":1,      \"BandwidthRestrictionUploadPolicy\":1,      \"BandwidthRestrictionUploadSize\":\"999999\",      \"BandwidthRestrictionDownloadPolicy\":1,      \"BandwidthRestrictionDownloadSize\":\"0\",      \"SilentOnboardPolicy\":1,      \"SilentOnboardDisplayMachineScreenPolicy\":2,      \"SilentOnboardDisplayCustomFolderScreenPolicy\":2,      \"SilentOnboardDisplayTutorialScreensPolicy\":2,      \"SilentOnboardDefaultLocationPolicy\":1,      \"SilentOnboardWinDefaultLocationPolicy\":1,      \"SilentOnboardWinDefaultLocationValue\":\"\",      \"SilentOnboardMacDefaultLocationPolicy\":1,      \"SilentOnboardMacDefaultLocationValue\":\"\"   },   \"Groups\":[      {         \"Id\":\"<Group 1 Guid>\",         \"Name\":\"<Group 1 Name>\"      },      {         \"Id\":\"<Group 2 Guid>\",         \"Name\":\"<Group 2 Name>\"      }   ],   \"EntitySetType\":1}]"
            },
            "examples": {
              "application/json": "[{   \"Id\":\"de53a76c-0311-44d1-8a70-808eb470d5b9\",   \"Name\":\"<PolicySet Name>\",   \"IsDefault\":true,   \"Priority\":14,   \"Policy\":{      \"ClientAutoUpdatePolicy\":3,      \"ClientPreconfiguredPolicy\":2,      \"SharedFolderPolicy\":3,      \"IncludeOwnerInFolderNamePolicy\":1,      \"RemoteWipeSyncpointPolicy\":2,      \"MobileSyncPolicy\":1,      \"MobileUnencryptedSyncPolicy\":2,      \"MobileSyncLimitsPolicy\":1,      \"MobileDataSyncLimit\":{         \"TransferLimit\":1024,         \"BillingCycleResetDay\":1      },      \"ShareLinkPasswordProtectedPolicy\":2,      \"ShareLinkPasswordComplexity\":1,      \"ShareLinkPasswordLength\":6,      \"ShareLinkExpirationPolicy\":1,      \"ShareLinkExpireInDays\":10,      \"ShareLinkPolicy\":4,      \"DesktopShareLinkFlowPolicy\":2,      \"ReportExportOutputFolderPolicy\":1,      \"AdminIpRestrictionPolicy\":1,      \"AdminIpRestriction\":{         \"AllowedIPs\":\"\",         \"Message\":\"You are attempting to perform an administrator action from an IP address that your company has not approved.\"      },      \"AdminPasswordComplexityPolicy\":2,      \"AdminPasswordComplexity\":{         \"AdminPasswordComplexityOptions\":55,         \"AdminPasswordComplexityMinimumLength\":10,         \"AdminPasswordComplexityMaximumLength\":15      },      \"RestrictMobileAccessPolicy\":1,      \"RestrictWebsiteAccessPolicy\":1,      \"RssNewsFeedPolicy\":2,      \"BranchingPolicy\":2,      \"RemoteWipeUsersPolicy\":1,      \"RemoteWipeEndpointPolicy\":1,      \"EnforceClientMemberActiveDirectoryPolicy\":1,      \"EnforceClientMemberActiveDirectoryPolicyDomains\":\"\",      \"IrmPolicy\":{         \"SecureSendPolicy\":1      },      \"GeoRestrictionPolicy\":1,      \"GeoRestrictionCountryList\":[],         \"RolePermissionsList\": [],      \"DefaultStorageEndpointId\":\"11111111-1111-1111-1111-111111111111\",      \"PasscodeEnforcementPolicy\":1,      \"PasscodeFailurePolicy\":1,      \"PasscodeFailures\":{         \"AllowablePasscodeFailures\":10      },      \"OpenInPolicy\":1,      \"SharedFolderResharingPolicy\":3,      \"GeolocationPrivacyPolicy\":2,      \"SharePointConnectorPolicy\":2,      \"SharePointConnectors\":[         {            \"Id\":\"<SharePointConnector Guid>\",            \"Name\":\"<SharePointConnector Name>\",            \"Url\":\"<SharePointConnector Url>\",            \"Enabled\":true,            \"Bookmarks\":{               \"Id\":\"<Bookmark Id>\",               \"Name\":\"<Bookmark Name>\",               \"Url\":\"<Bookmark Url>\",               \"Enabled\":true            }         }      ],      \"NetworkShareConnectorPolicy\":2,      \"NetworkShareConnectors\":[         {            \"Id\":\"<NetworkShareConnector Guid>\",            \"Name\":\"<NetworkShareConnector Name>\",            \"Url\":\"<NetworkShareConnector Url>\",            \"Enabled\":true,            \"Bookmarks\":{               \"Id\":\"<Bookmark Id>\",               \"Name\":\"<Bookmark Name>\",               \"Url\":\"<Bookmark Url>\",               \"Enabled\":true            }         }      ],      \"HomeDirectoryPolicy\":{         \"Name\":\"<HomeDirectoryPolicy Name>\",         \"ConnectorId\":\"<HomeDirectory Connector Id>\",         \"ConnectorUrl\":\"<HomeDirectory Connector Url>\"      },      \"FileExclusionPolicy\":2,      \"FileExclusions\":[         {            \"Extension\":\"bak\"         },         {            \"Extension\":\"tmp\"         }      ],      \"OutlookClientAutoUpdatePolicy\":3,      \"OutlookFileExclusionPolicy\":2,      \"OutlookFileExclusionValues\":[         {            \"Extension\":\"bak\"         },         {            \"Extension\":\"ost\"         },         {            \"Extension\":\"tmp\"         }      ],      \"OutlookFileSizePolicy\":1,      \"OutlookFileSizeValue\":10,      \"OutlookIntegrationPolicy\":1,      \"OutlookSharedLinkAccessPolicy\":3,      \"OutlookSharedLinkExpirationPolicy\":1,      \"OutlookSharedLinkExpirationDays\":10,      \"OutlookSharedLinkPasswordProtectionPolicy\":1,      \"OutlookShareLinkPasswordComplexity\":2,      \"OutlookShareLinkPasswordLength\":8,      \"BandwidthRestrictionPolicy\":1,      \"BandwidthRestrictionUploadPolicy\":1,      \"BandwidthRestrictionUploadSize\":\"999999\",      \"BandwidthRestrictionDownloadPolicy\":1,      \"BandwidthRestrictionDownloadSize\":\"0\",      \"SilentOnboardPolicy\":1,      \"SilentOnboardDisplayMachineScreenPolicy\":2,      \"SilentOnboardDisplayCustomFolderScreenPolicy\":2,      \"SilentOnboardDisplayTutorialScreensPolicy\":2,      \"SilentOnboardDefaultLocationPolicy\":1,      \"SilentOnboardWinDefaultLocationPolicy\":1,      \"SilentOnboardWinDefaultLocationValue\":\"\",      \"SilentOnboardMacDefaultLocationPolicy\":1,      \"SilentOnboardMacDefaultLocationValue\":\"\"   },   \"Groups\":[      {         \"Id\":\"<Group 1 Guid>\",         \"Name\":\"<Group 1 Name>\"      },      {         \"Id\":\"<Group 2 Guid>\",         \"Name\":\"<Group 2 Name>\"      }   ],   \"EntitySetType\":1}]"
            }
          },
          "400": {
            "description": "(Bad Request) - Not A Business Admin<br>(Bad Request) - Invalid EntitySetType: Type should be different from zero<br>(Bad Request) - Invalid Name: Name of policy set must be not empty<br>(Bad Request) - Invalid Policy Set: Policy object must be set"
          },
          "403": {
            "description": "(Forbidden) - Request Came From An Unapproved IP Address"
          }
        }
      },
      "delete": {
        "tags": [
          "Policies"
        ],
        "summary": "Delete multiple policysets",
        "description": "Deletes all existing PolicySets, passed in body. A policy set is a grouping of various policies that should be applied concurrently. Policy sets can be applied by name and Id to various parts of the system including storage systems, user groups and allow the administrator to control the various behaviors of the Syncplicity system by the specific attributes of the policy definitions.<br><strong>Required Scope:</strong> Policies, Delete",
        "operationId": "Policysets DELETE",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PolicySet_Delete"
              },
              "example": "[{ \"Id\": \"abcdef01-2345-4058-a25b-fbd9726f25ae\" },{ \"Id\": \"cdedef01-5432-4058-a25b-fbd9726f25ae\" }]"
            },
            "x-examples": {
              "application/json": "[   {      \"Name\":\"<PolicySet Name>\",      \"IsDefault\":true,      \"Priority\":\"<Integer, 1 is Highest>\",      \"Policy\":{         \"ClientAutoUpdatePolicy\":3,         \"ClientPreconfiguredPolicy\":2,         \"SharedFolderPolicy\":3,         \"IncludeOwnerInFolderNamePolicy\":1,         \"RemoteWipeSyncpointPolicy\":2,         \"MobileSyncPolicy\":1,         \"MobileUnencryptedSyncPolicy\":2,         \"MobileSyncLimitsPolicy\":1,         \"MobileDataSyncLimit\":{            \"TransferLimit\":1024,            \"BillingCycleResetDay\":1         },         \"ShareLinkPasswordProtectedPolicy\":2,         \"ShareLinkPasswordComplexity\":1,         \"ShareLinkPasswordLength\":6,         \"ShareLinkExpirationPolicy\":1,         \"ShareLinkExpireInDays\":10,         \"ShareLinkPolicy\":4,         \"DesktopShareLinkFlowPolicy\":2,         \"ReportExportOutputFolderPolicy\":1,         \"AdminIpRestrictionPolicy\":1,         \"AdminIpRestriction\":{            \"AllowedIPs\":\"\",            \"Message\":\"You are attempting to perform an administrator action from an IP address that your company has not approved.\"         },         \"AdminPasswordComplexityPolicy\":2,         \"AdminPasswordComplexity\":{            \"AdminPasswordComplexityOptions\":55,            \"AdminPasswordComplexityMinimumLength\":10,            \"AdminPasswordComplexityMaximumLength\":15         },         \"RestrictMobileAccessPolicy\":1,         \"RestrictWebsiteAccessPolicy\":1,         \"RssNewsFeedPolicy\":2,         \"BranchingPolicy\":2,         \"RemoteWipeUsersPolicy\":1,         \"RemoteWipeEndpointPolicy\":1,         \"EnforceClientMemberActiveDirectoryPolicy\":1,         \"EnforceClientMemberActiveDirectoryPolicyDomains\":\"\",         \"IrmPolicy\":{            \"SecureSendPolicy\":1         },         \"GeoRestrictionPolicy\":1,         \"GeoRestrictionCountryList\": [],         \"RolePermissionsList\": [],         \"DefaultStorageEndpointId\":\"11111111-1111-1111-1111-111111111111\",         \"PasscodeEnforcementPolicy\":1,         \"PasscodeFailurePolicy\":1,         \"PasscodeFailures\":{            \"AllowablePasscodeFailures\":10         },         \"OpenInPolicy\":1,         \"SharedFolderResharingPolicy\":3,         \"GeolocationPrivacyPolicy\":2,         \"SharePointConnectorPolicy\":2,         \"SharePointConnectors\":[            {               \"Id\":\"<SharePointConnector Guid>\",               \"Name\":\"<SharePointConnector Name>\",               \"Url\":\"<SharePointConnector Url>\",               \"Enabled\":true,               \"Bookmarks\":{                  \"Id\":\"<Bookmark ID>\",                  \"Name\":\"<Bookmark Name>\",                  \"Url\":\"<Bookmark Url>\",                  \"Enabled\":true               }            }         ],         \"NetworkShareConnectorPolicy\":2,         \"NetworkShareConnectors\":[            {               \"Id\":\"<NetworkShareConnector Guid>\",               \"Name\":\"<NetworkShareConnector Name>\",               \"Url\":\"<NetworkShareConnector Url>\",               \"Enabled\":true,               \"Bookmarks\":{                  \"Id\":\"<Bookmark ID>\",                  \"Name\":\"<Bookmark Name>\",                  \"Url\":\"<Bookmark Url>\",                  \"Enabled\":true               }            }         ],         \"HomeDirectoryPolicy\":{            \"Name\":\"<HomeDirectoryPolicy Name>\",            \"ConnectorId\":\"<HomeDirectory Connector ID>\",            \"ConnectorUrl\":\"<HomeDirectory Connector Url>\"         },         \"FileExclusionPolicy\":2,         \"FileExclusions\":[            {               \"Extension\":\"bak\"            },            {               \"Extension\":\"tmp\"            }         ],         \"OutlookClientAutoUpdatePolicy\":3,         \"OutlookFileExclusionPolicy\":2,         \"OutlookFileExclusionValues\":[            {               \"Extension\":\"bak\"            },            {               \"Extension\":\"ost\"            },            {               \"Extension\":\"tmp\"            }         ],         \"OutlookFileSizePolicy\":1,         \"OutlookFileSizeValue\":10,         \"OutlookIntegrationPolicy\":1,         \"OutlookSharedLinkAccessPolicy\":3,         \"OutlookSharedLinkExpirationPolicy\":1,         \"OutlookSharedLinkExpirationDays\":10,         \"OutlookSharedLinkPasswordProtectionPolicy\":1,         \"OutlookShareLinkPasswordComplexity\":2,         \"OutlookShareLinkPasswordLength\":8,         \"BandwidthRestrictionPolicy\":1,         \"BandwidthRestrictionUploadPolicy\":1,         \"BandwidthRestrictionUploadSize\":\"999999\",         \"BandwidthRestrictionDownloadPolicy\":1,         \"BandwidthRestrictionDownloadSize\":\"0\",         \"SilentOnboardPolicy\":1,         \"SilentOnboardDisplayMachineScreenPolicy\":2,         \"SilentOnboardDisplayCustomFolderScreenPolicy\":2,         \"SilentOnboardDisplayTutorialScreensPolicy\":2,         \"SilentOnboardDefaultLocationPolicy\":1,         \"SilentOnboardWinDefaultLocationPolicy\":1,         \"SilentOnboardWinDefaultLocationValue\":\"\",         \"SilentOnboardMacDefaultLocationPolicy\":1,         \"SilentOnboardMacDefaultLocationValue\":\"\"      },      \"CopiedFromSetId\":\"<PolicySet Guid to Copy>\",      \"Groups\":[         \"<Group 1 Guid>\",         \"<Group 2 Guid>\"      ],      \"EntitySetType\":1   }]"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "404": {
            "description": "(Not Found) - Policy Set Not Found"
          }
        }
      }
    },
    "/provisioning/policysets.svc/{COMPANY_GUID}/{ENTITYSET_TYPE_ID}": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "Select policysets by company and entity type",
        "description": "Retrieves all PolicySets which belongs to the company with specified company id, and of specified entityset type.<br>A policyset is a grouping of various policies that should be applied concurrently. Policy sets can be applied by name and Id to various parts of the system including storage systems, user groups and allow the administrator to control the various behaviors of the Syncplicity system by the specific attributes of the policy definitions.<br><strong>Required Scope:</strong> Policies, Read",
        "operationId": "Policysets by company GET",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "description": "Array of policysets",
              "items": {
                "$ref": "#/definitions/PolicySet_Get"
              },
              "example": "[   {      \"Id\":\"de53a76c-0311-44d1-8a70-808eb470d5b9\",      \"Name\": \"<PolicySet Name>\",      \"IsDefault\": true,      \"Priority\": 14,      \"Policy\": {         \"ClientAutoUpdatePolicy\": 3,         \"ClientPreconfiguredPolicy\": 2,         \"SharedFolderPolicy\": 3,         \"IncludeOwnerInFolderNamePolicy\": 1,         \"RemoteWipeSyncpointPolicy\": 2,         \"MobileSyncPolicy\": 1,         \"MobileUnencryptedSyncPolicy\": 2,         \"MobileSyncLimitsPolicy\": 1,         \"MobileDataSyncLimit\": {            \"TransferLimit\": 1024,            \"BillingCycleResetDay\": 1         },         \"ShareLinkPasswordProtectedPolicy\": 2,         \"ShareLinkPasswordComplexity\": 1,         \"ShareLinkPasswordLength\": 6,         \"ShareLinkExpirationPolicy\": 1,         \"ShareLinkExpireInDays\": 10,         \"ShareLinkPolicy\": 4,         \"DesktopShareLinkFlowPolicy\": 2,         \"ReportExportOutputFolderPolicy\": 1,         \"AdminIpRestrictionPolicy\": 1,         \"AdminIpRestriction\": {            \"AllowedIPs\": \"\",             \"Message\": \"You are attempting to perform an administrator action from an IP address that your company has not approved.\"         },         \"AdminPasswordComplexityPolicy\": 2,         \"AdminPasswordComplexity\": {            \"AdminPasswordComplexityOptions\": 55,            \"AdminPasswordComplexityMinimumLength\": 10,            \"AdminPasswordComplexityMaximumLength\": 15         },         \"RestrictMobileAccessPolicy\": 1,         \"RestrictWebsiteAccessPolicy\": 1,         \"RssNewsFeedPolicy\": 2,         \"BranchingPolicy\": 2,         \"RemoteWipeUsersPolicy\": 1,         \"RemoteWipeEndpointPolicy\": 1,         \"EnforceClientMemberActiveDirectoryPolicy\": 1,         \"EnforceClientMemberActiveDirectoryPolicyDomains\": \"\",         \"IrmPolicy\": {            \"SecureSendPolicy\": 1         },         \"GeoRestrictionPolicy\": 1,         \"GeoRestrictionCountryList\": [],         \"RolePermissionsList\": [],         \"DefaultStorageEndpointId\": \"11111111-1111-1111-1111-111111111111\",         \"PasscodeEnforcementPolicy\": 1,         \"PasscodeFailurePolicy\": 1,         \"PasscodeFailures\": {            \"AllowablePasscodeFailures\": 10         },         \"OpenInPolicy\": 1,         \"SharedFolderResharingPolicy\": 3,         \"GeolocationPrivacyPolicy\": 2,         \"SharePointConnectorPolicy\": 2,         \"SharePointConnectors\": [            {               \"Id\": \"<SharePointConnector Guid>\",               \"Name\":\"<SharePointConnector Name>\",               \"Url\": \"<SharePointConnector Url>\",               \"Enabled\": true,               \"Bookmarks\": {               \"Id\":\"<Bookmark Id>\",                  \"Name\": \"<Bookmark Name>\",                  \"Url\": \"<Bookmark Url>\",                  \"Enabled\": true               }            }         ],         \"NetworkShareConnectorPolicy\": 2,         \"NetworkShareConnectors\": [            {               \"Id\": \"<NetworkShareConnector Guid>\",               \"Name\": \"<NetworkShareConnector Name>\",               \"Url\": \"<NetworkShareConnector Url>\",               \"Enabled\": true,               \"Bookmarks\": {                  \"Id\":\"<Bookmark Id>\",                  \"Name\": \"<Bookmark Name>\",                  \"Url\": \"<Bookmark Url>\",                  \"Enabled\": true               }            }         ],         \"HomeDirectoryPolicy\": {            \"Name\": \"<HomeDirectoryPolicy Name>\",            \"ConnectorId\": \"<HomeDirectory Connector Id>\",            \"ConnectorUrl\": \"<HomeDirectory Connector Url>\"         },         \"FileExclusionPolicy\": 2,         \"FileExclusions\": [            {               \"Extension\": \"bak\"            },            {               \"Extension\": \"tmp\"            }         ],         \"OutlookClientAutoUpdatePolicy\": 3,         \"OutlookFileExclusionPolicy\": 2,         \"OutlookFileExclusionValues\": [            {               \"Extension\": \"bak\"            },            {               \"Extension\": \"ost\"            },            {               \"Extension\": \"tmp\"            }         ],         \"OutlookFileSizePolicy\": 1,         \"OutlookFileSizeValue\": 10,         \"OutlookIntegrationPolicy\": 1,         \"OutlookSharedLinkAccessPolicy\": 3,         \"OutlookSharedLinkExpirationPolicy\": 1,         \"OutlookSharedLinkExpirationDays\": 10,         \"OutlookSharedLinkPasswordProtectionPolicy\": 1,         \"OutlookShareLinkPasswordComplexity\": 2,         \"OutlookShareLinkPasswordLength\": 8,         \"BandwidthRestrictionPolicy\": 1,         \"BandwidthRestrictionUploadPolicy\": 1,         \"BandwidthRestrictionUploadSize\": \"999999\",         \"BandwidthRestrictionDownloadPolicy\": 1,         \"BandwidthRestrictionDownloadSize\": \"0\",         \"SilentOnboardPolicy\": 1,         \"SilentOnboardDisplayMachineScreenPolicy\": 2,         \"SilentOnboardDisplayCustomFolderScreenPolicy\": 2,         \"SilentOnboardDisplayTutorialScreensPolicy\": 2,         \"SilentOnboardDefaultLocationPolicy\": 1,         \"SilentOnboardWinDefaultLocationPolicy\": 1,         \"SilentOnboardWinDefaultLocationValue\": \"\",         \"SilentOnboardMacDefaultLocationPolicy\": 1,         \"SilentOnboardMacDefaultLocationValue\": \"\"      },      \"Groups\": [         {            \"Id\": \"<Group 1 Guid>\",            \"Name\": \"<Group 1 Name>\"         },         {            \"Id\": \"<Group 2 Guid>\",            \"Name\": \"<Group 2 Name>\"         }      ],      \"EntitySetType\": 1   }]"
            },
            "examples": {
              "application/json": "[   {      \"Id\":\"de53a76c-0311-44d1-8a70-808eb470d5b9\",      \"Name\": \"<PolicySet Name>\",      \"IsDefault\": true,      \"Priority\": 14,      \"Policy\": {         \"ClientAutoUpdatePolicy\": 3,         \"ClientPreconfiguredPolicy\": 2,         \"SharedFolderPolicy\": 3,         \"IncludeOwnerInFolderNamePolicy\": 1,         \"RemoteWipeSyncpointPolicy\": 2,         \"MobileSyncPolicy\": 1,         \"MobileUnencryptedSyncPolicy\": 2,         \"MobileSyncLimitsPolicy\": 1,         \"MobileDataSyncLimit\": {            \"TransferLimit\": 1024,            \"BillingCycleResetDay\": 1         },         \"ShareLinkPasswordProtectedPolicy\": 2,         \"ShareLinkPasswordComplexity\": 1,         \"ShareLinkPasswordLength\": 6,         \"ShareLinkExpirationPolicy\": 1,         \"ShareLinkExpireInDays\": 10,         \"ShareLinkPolicy\": 4,         \"DesktopShareLinkFlowPolicy\": 2,         \"ReportExportOutputFolderPolicy\": 1,         \"AdminIpRestrictionPolicy\": 1,         \"AdminIpRestriction\": {            \"AllowedIPs\": \"\",             \"Message\": \"You are attempting to perform an administrator action from an IP address that your company has not approved.\"         },         \"AdminPasswordComplexityPolicy\": 2,         \"AdminPasswordComplexity\": {            \"AdminPasswordComplexityOptions\": 55,            \"AdminPasswordComplexityMinimumLength\": 10,            \"AdminPasswordComplexityMaximumLength\": 15         },         \"RestrictMobileAccessPolicy\": 1,         \"RestrictWebsiteAccessPolicy\": 1,         \"RssNewsFeedPolicy\": 2,         \"BranchingPolicy\": 2,         \"RemoteWipeUsersPolicy\": 1,         \"RemoteWipeEndpointPolicy\": 1,         \"EnforceClientMemberActiveDirectoryPolicy\": 1,         \"EnforceClientMemberActiveDirectoryPolicyDomains\": \"\",         \"IrmPolicy\": {            \"SecureSendPolicy\": 1         },         \"GeoRestrictionPolicy\": 1,         \"GeoRestrictionCountryList\": [],         \"RolePermissionsList\": [],         \"DefaultStorageEndpointId\": \"11111111-1111-1111-1111-111111111111\",         \"PasscodeEnforcementPolicy\": 1,         \"PasscodeFailurePolicy\": 1,         \"PasscodeFailures\": {            \"AllowablePasscodeFailures\": 10         },         \"OpenInPolicy\": 1,         \"SharedFolderResharingPolicy\": 3,         \"GeolocationPrivacyPolicy\": 2,         \"SharePointConnectorPolicy\": 2,         \"SharePointConnectors\": [            {               \"Id\": \"<SharePointConnector Guid>\",               \"Name\":\"<SharePointConnector Name>\",               \"Url\": \"<SharePointConnector Url>\",               
[...]
