{
    "swagger": "2.0",
    "info": {
        "title": "SAP Landscape Mgt.",
        "version": "3.0.11.0",
        "description": "SAP Landscape Management 3.0 API to used in the Axway API-Builder Connector.",
        "contact": {
            "name": "Chris Wiechmann",
            "url": "https://github.com/Axway-API-Builder-Ext/SAP-LaMa-Connector",
            "email": "cwiechmann@axway.com"
        },
        "license": {
            "name": "Apache 2.0"
        }
    },
    "host": "sap.lama-host.com:50000",
    "paths": {
        "/xsrftoken": {
            "get": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "description": "Returns a Cross-Site-Request-Forgery token. In the request header, include the custom HTTP header 'x-csrf-token' with value 'Fetch'. Retrieve the token from the custom HTTP response header 'x-csrf-token'. This header might be used in all requests of type GET to fetch the XSRF token. It is only valid within the user session. Make sure to include the session cookie into follow-up requests. [This method was deprecated with 3.0.9.0. It is not required anymore to retrieve a Cross-Site-Request-Forgery and pass it as a value of this custom header.]",
                "summary": "Returns an XSRF token. [deprecated] ( xsrftoken)",
                "deprecated": true,
                "parameters": [
                    {
                        "in": "header",
                        "name": "x-csrf-token",
                        "type": "string",
                        "description": "Set value 'Fetch' to fetch an XSRF token",
                        "required": true
                    }
                ],
                "operationId": "Get-XSRF-Token"
            }
        },
        "/activities/{activityId}/cancel": {
            "post": {
                "responses": {
                    "200": {
                        "$ref": "#/responses/Activity"
                    },
                    "400": {
                        "description": "Activity cannot be cancelled in the current status."
                    },
                    "403": {
                        "description": "No permission to cancel activity."
                    },
                    "404": {
                        "description": "No activity found for ID."
                    },
                    "500": {
                        "description": ""
                    }
                },
                "summary": "Cancels an activity",
                "description": "Cancels an activity based on the activity ID or activity number provided. To trigger a cancel hard, use parameter 'hard'. A cancel hard will immediately put the activity on status 'cancelled' and release all locks without waiting for executing activity steps to get cancelled or completed. Valid source states: Initial, Executing, On Hold, Waiting. Output state: Cancelled",
                "parameters": [
                    {
                        "in": "query",
                        "name": "hard",
                        "type": "boolean",
                        "description": "Trigger cancel hard (optional)",
                        "default": true
                    },
                    {
                        "in": "header",
                        "name": "x-csrf-token",
                        "type": "string",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "operationId": "Cancel-Activity"
            },
            "parameters": [
                {
                    "$ref": "#/parameters/activityId"
                }
            ]
        },
        "/activities/{activityId}/steps/{stepId}/continue": {
            "post": {
                "responses": {
                    "200": {
                        "$ref": "#/responses/Activity"
                    },
                    "400": {
                        "description": ""
                    },
                    "403": {
                        "description": ""
                    },
                    "404": {
                        "description": ""
                    },
                    "500": {
                        "description": ""
                    }
                },
                "summary": "Continues an activity",
                "description": "Continues a waiting activity step based on the activity ID or activity number and activity step ID or activity step number provided. In the JSON body, include an ActivityStepInteractionResponse object with action (mandatory) and input (optional). Valid source state: Waiting. Output state: Executing",
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "response": {
                                    "type": "string"
                                },
                                "input": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "ActivityStepInteractionResponse object with action and optional input (required).",
                        "x-examples": {
                            "application/json": {
                                "response": "OK",
                                "input": "myInput"
                            }
                        }
                    },
                    {
                        "in": "header",
                        "name": "x-csrf-token",
                        "type": "string",
                        "required": true
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "operationId": "Continue-Activity"
            },
            "parameters": [
                {
                    "$ref": "#/parameters/activityId"
                },
                {
                    "$ref": "#/parameters/stepId"
                }
            ]
        },
        "/activities": {
            "post": {
                "responses": {
                    "201": {
                        "description": ""
                    },
                    "204": {
                        "description": ""
                    },
                    "400": {
                        "description": ""
                    },
                    "500": {
                        "description": ""
                    }
                },
                "summary": "Creates a new activity",
                "description": "Creates a new activity. In the request body, include an ActivityRequest object with all required parameters. Depending on the operation to execute, the correct request object has to be passed. Valid request objects: ProvisioningRequest, BlueprintRequest, CustomProcessRequest, OperationTemplateRequest, CustomOperationRequest, InstanceOperationRequest, RfcCreateSystemMessageRequest, RfcModifyLogonGroupsRequest, RfcOperationRequest, RfcTaskManagerRequest, SystemOperationRequest.",
                "parameters": [
                    {
                        "in": "header",
                        "name": "x-csrf-token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "type": {
                                    "type": "string"
                                },
                                "operation": {
                                    "type": "string"
                                },
                                "instances": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "instanceId": {
                                                "type": "string"
                                            },
                                            "host": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "parameters": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "key": {
                                                "type": "string"
                                            },
                                            "value": {
                                                "type": [
                                                    "boolean",
                                                    "integer"
                                                ]
                                            }
                                        }
                                    }
                                },
                                "validateOnly": {
                                    "type": "boolean"
                                }
                            }
                        },
                        "description": "ActivityRequest object with all required parameters. Depending on the operation to execute, the correct request object has to be passed. Valid request objects: ProvisioningRequest, BlueprintRequest, CustomProcessRequest, OperationTemplateRequest, CustomOperationRequest, InstanceOperationRequest, RfcCreateSystemMessageRequest, RfcModifyLogonGroupsRequest, RfcOperationRequest, RfcTaskManagerRequest, SystemOperationRequest.",
                        "x-examples": {
                            "application/json": {
                                "type": "instanceOperation",
                                "operation": "stop+unprepare",
                                "instances": [
                                    {
                                        "instanceId": "SystemID.X10.Number.10.InstanceHost.simas0x10",
                                        "host": "simats07"
                                    }
                                ],
                                "parameters": [
                                    {
                                        "key": "hostCheck",
                                        "value": false
                                    },
                                    {
                                        "key": "userExit",
                                        "value": false
                                    },
                                    {
                                        "key": "instanceHardShutdown",
                                        "value": false
                                    },
                                    {
                                        "key": "instanceSoftTimeout",
                                        "value": 10
                                    }
                                ],
                                "validateOnly": false
                            },
                            "SecondExample": {
                                "type": "systemOperation",
                                "operation": "rollingKernelSwitch",
                                "systemIds": [
                                    "SystemID.X10.SystemHost.simdbx10"
                                ],
                                "validateOnly": false,
                                "parameters": [
                                    {
                                        "key": "RKSConfiguration",
                                        "value": "RKS742LINUX",
                                        "isSecure": false
                                    },
                                    {
                                        "key": "RKSRestartOnly",
                                        "value": false,
                                        "isSecure": false
                                    },
                                    {
                                        "key": "RKSExecuteUpgrade",
                                        "value": true,
                                        "isSecure": false
                                    },
                                    {
                                        "key": "RKSSoftTimeout",
                                        "value": 600,
                                        "isSecure": false
                                    },
                                    {
                                        "key": "RKSWaitTimeout",
                                        "value": 360,
                                        "isSecure": false
                                    }
                                ]
                            },
                            "ThirdExample": {
                                "type": "operationTemplate",
                                "operation": "myOperationTemplate"
                            },
                            "FourthExample": {
                                "type": "rfcTaskManagerOperation",
                                "operation": "GetTaskLists",
                                "client": "001",
                                "entityId": "SystemID.X10.Number.10.InstanceHost.simas0x10"
                            },
                            "FithExample": {
                                "type": "rfcCreateSystemMessage",
                                "entityIds": [
                                    "SystemID.X10.Number.10.InstanceHost.simas0x10"
                                ],
                                "message": "This is a test message.",
                                "messageTwo": "This is the second line of the message",
                                "expirationTime": "2018-04-18T11:37:00Z",
                                "deletionTime": "2018-05-18T11:40:00Z",
                                "language": "EN",
                                "client": "001"
                            },
                            "SixExample": {
                                "type": "rfcModifyLogonGroups",
                                "operation": "AddToLogonGroup",
                                "entityId": "SystemID.X10.Number.10.InstanceHost.simas0x10",
                                "logonGroups": [
                                    "PUBLIC",
                                    "PRIVATE"
                                ]
                            }
                        }
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "operationId": "Create-Activity"
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "500": {
                        "description": ""
                    }
                },
                "summary": "Returns a list of activities",
                "description": "Returns a list of activities. For pagination, use parameters 'offset' and 'limit'. For filtering, use parameters 'id', 'status', 'user' and 'days'. To embed activity steps, logs and results use parameter 'embed'.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/id"
                    },
                    {
                        "$ref": "#/parameters/embed"
                    },
                    {
                        "$ref": "#/parameters/fields"
                    },
                    {
                        "$ref": "#/parameters/status"
                    }
                ],
                "operationId": "Get-list-of-activities"
            }
        },
        "/activities/{activityId}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "summary": "Returns an activity",
                "description": "Returns an activity based on the activity ID or activity number provided. To embed activity steps, logs and results use parameter 'embed'.",
                "produces": [
                    "application/json"
                ],
                "operationId": "Get-Activity"
            },
            "parameters": [
                {
                    "$ref": "#/parameters/activityId"
                }
            ],
            "delete": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "summary": "Deletes an activity",
                "description": "Deletes an activity based on the activity ID or activity number provided. Valid source states: Completed, Cancelled, Failed, Partially Failed, On Hold.",
                "produces": [
                    "application/json"
                ],
                "operationId": "Delete-Activity",
                "parameters": [
                    {
                        "in": "header",
                        "name": "x-csrf-token",
                        "type": "string",
                        "required": true
                    }
                ]
            }
        },
        "/activities/{activityId}/steps/{stepId}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "summary": "Returns an activity step",
                "description": "Returns an activity step based on the activity ID or activity number and activity step ID or activity step number provided. To embed activity logs, use parameter 'embed'.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/embed"
                    },
                    {
                        "$ref": "#/parameters/fields"
                    }
                ],
                "operationId": "Get-Activity-Step"
            },
            "parameters": [
                {
                    "$ref": "#/parameters/activityId"
                },
                {
                    "$ref": "#/parameters/stepId"
                }
            ]
        },
        "/activities/{activityId}/steps/{stepId}/logs": {
            "get": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "summary": "Returns a list of logs for an activity step",
                "description": "Returns a list of logs based on the activity ID or activity number and activity step ID or activity step number provided. For pagination, use parameters 'offset' and 'limit'. For filtering, use parameter 'severity'.",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/id"
                    },
                    {
                        "$ref": "#/parameters/severity"
                    },
                    {
                        "$ref": "#/parameters/fields"
                    }
                ],
                "operationId": "Get-Activity-Logs"
            },
            "parameters": [
                {
                    "$ref": "#/parameters/activityId"
                },
                {
                    "$ref": "#/parameters/stepId"
                }
            ]
        },
        "/activities/{activityId}/steps": {
            "get": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "summary": "Returns a list of activity steps for an activity",
                "description": "Returns a list of activitiy steps for the activity ID or activity number provided. For pagination, use parameters 'offset' and 'limit'. For filtering, use parameter 'status'. To embed activity logs, use parameter 'embed'.",
                "parameters": [
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/id"
                    },
                    {
                        "$ref": "#/parameters/status"
                    },
                    {
                        "$ref": "#/parameters/embed"
                    },
                    {
                        "$ref": "#/parameters/fields"
                    }
                ],
                "operationId": "Get-Activity-Steps"
            },
            "parameters": [
                {
                    "$ref": "#/parameters/activityId"
                }
            ]
        },
        "/activities/{activityId}/hold": {
            "post": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "400": {
                        "description": ""
                    },
                    "403": {
                        "description": ""
                    },
                    "404": {
                        "description": ""
                    },
                    "500": {
                        "description": ""
                    }
                },
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Puts an activity on hold",
                "description": "Puts an activity on hold based on the activity ID or activity number provided. Valid source states: Initial, Executing. Output state: On Hold",
                "parameters": [
                    {
                        "in": "header",
                        "name": "x-csrf-token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "activityId": {
                                    "type": "string"
                                },
                                "activityNumber": {
                                    "type": "string"
                                },
                                "status": {
                                    "type": "string"
                                },
                                "user": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "beginTime": {
                                    "type": "string"
                                },
                                "endTime": {
                                    "type": "string"
                                },
                                "duration": {
                                    "type": "integer"
                                },
                                "links": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "href": {
                                                "type": "string"
                                            },
                                            "rel": {
                                                "type": "string"
                                            },
                                            "method": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Custom request header to protect agains Cross-Site-Request-Forgery. Only the existence of the header, not the value, is verified.",
                        "x-examples": {
                            "application/json": {
                                "activityId": "process-c7c81fbf-203e-11e7-9917-000000665ce2",
                                "activityNumber": "42",
                                "status": "executing",
                                "user": "Administrator",
                                "description": "Start",
                                "beginTime": "2018-04-26T08:53:36.103Z",
                                "endTime": "2018-04-26T08:53:36.243Z",
                                "duration": 140,
                                "links": [
                                    {
                                        "href": "https://localhost:50001/lama-api/activities/42",
                                        "rel": "self",
                                        "method": "GET"
                                    },
                                    {
                                        "href": "https://localhost:50001/lama-api/activities/42/steps",
                                        "rel": "steps",
                                        "method": "GET"
                                    }
                                ]
                            }
                        }
                    }
                ],
                "operationId": "Hold-activity"
            },
            "parameters": [
                {
                    "$ref": "#/parameters/activityId"
                }
            ]
        },
        "/activities/{activityId}/release": {
            "post": {
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "400": {
                        "description": ""
                    },
                    "403": {
                        "description": ""
                    },
                    "404": {
                        "description": ""
                    },
                    "500": {
                        "description": ""
                    }
                },
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "x-csrf-token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "activityId": {
                                    "type": "string"
                                },
                                "activityNumber": {
                                    "type": "string"
                                },
                                "status": {
                                    "type": "string"
                                },
                                "user": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "beginTime": {
                                    "type": "string"
                                },
                                "endTime": {
                                    "type": "string"
                                },
                                "duration": {
                                    "type": "integer"
                                },
                                "links": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "href": {
                                                "type": "string"
                                            },
                                            "rel": {
                                                "type": "string"
                                            },
                                            "method": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Custom request header to protect agains Cross-Site-Request-Forgery. Only the existence of the header, not the value, is verified.",
                        "x-examples": {
                            "application/json": {
                                "activityId": "process-c7c81fbf-203e-11e7-9917-000000665ce2",
                                "activityNumber": "42",
                                "status": "executing",
                                "user": "Administrator",
                                "description": "Start",
                                "beginTime": "2018-04-26T08:53:36.103Z",
                                "endTime": "2018-04-26T08:53:36.243Z",
                                "duration": 140,
                                "links": [
                                    {
                                        "href": "https://localhost:50001/lama-api/activities/42",
                                        "rel": "self",
                                        "method": "GET"
                                    },
                                    {
                                        "href": "https://localhost:50001/lama-api/activities/42/steps",
                                        "rel": "steps",
                                        "method": "GET"
                                    }
                                ]
                            }
                        }
                    }
                ],
                "summary": "Releases an activity",
                "description": "Releases an activity based on the activity ID or activity number provided. Valid source state: On Hold. Output states: Initial, Executing",
                "operationId": "Release-Activity"
            },
            "parameters": [
                {
                    "name": "activityId",
                    "in": "path",
                    "type": "string",
                    "required": true
                }
            ]
        },
        "/activities/{activityId}/retry": {
            "post": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "summary": "Retries an activity",
                "description": "Retries a failed activity based on the activity ID or activity number provided and returns the newly created activity. To provide a change ID, use parameter 'changeId'. Valid source states: Failed, Partially Failed. Output state: Initial",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "x-csrf-token",
                        "type": "string"
                    },
                    {
                        "in": "query",
                        "name": "changeId",
                        "type": "string",
                        "description": "If required, the change ID for the change to be performed.",
                        "default": "0815"
                    }
                ],
                "operationId": "Retry-Activity"
            },
            "parameters": [
                {
                    "name": "activityId",
                    "in": "path",
                    "type": "string",
                    "required": true
                }
            ]
        },
        "/appliances": {
            "get": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "summary": "Returns a list of appliances",
                "description": "Returns a list of appliances. For pagination, use parameters 'offset' and 'limit'. For filtering, use parameters 'repositoryName' and 'productName'.",
                "operationId": "Get-All-Appliances",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "in": "query",
                        "name": "repositoryName",
                        "type": "string",
                        "description": "Filter by repository name.",
                        "default": "ApplianceRepository"
                    },
                    {
                        "in": "query",
                        "name": "productName",
                        "type": "string",
                        "default": "SAP ERP",
                        "description": "Filter by product name"
                    },
                    {
                        "in": "query",
                        "name": "productKey",
                        "type": "string",
                        "description": "Filter by product key.",
                        "default": "12345678909876543210"
                    },
                    {
                        "$ref": "#/parameters/fields"
                    }
                ]
            }
        },
        "/appliances/{applianceName}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "summary": "Returns an appliance",
                "description": "Returns an appliance based on the appliance name provided.",
                "operationId": "Get-appliance",
                "parameters": [
                    {
                        "$ref": "#/parameters/fields"
                    }
                ]
            },
            "parameters": [
                {
                    "name": "applianceName",
                    "in": "path",
                    "type": "string",
                    "required": true,
                    "description": "Appliance Name. Make sure to URL encode the name. example: \"SAP NetWeaver 7.4 SR2 ABAP on Sybase -> SAP%20NetWeaver%207.4%20SR2%20ABAP%20on%20Sybase\""
                }
            ]
        },
        "/discovery": {
            "post": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "summary": "Triggers a new discovery",
                "description": "Triggers a new discovery. In the request body, include an: DiscoveryRequest object with all required parameters. The result of the discovery request contains different lists. There is a list for each new entity type discovered and also a list for entities already managed by LaMa. In case the flag 'autoAssignInstances' is set to 'true' in the discovery request, the newly discovered instances will be automatically assigned to the system and also moved from the instance list to the system list. The newly discovered entites can be added via a separate POST call to the respective entity endpoint. In case the flag 'autoAssignInstances' is 'true', the system is already managed by LaMa and a new instance is discovered for that system, the separate call to create the new instance can be a PATCH against the systems endpoint for the specific system (systems/{id}/instances) or a PATCH against the systems collection (/systems with operation \"CREATE_OR_PARTIAL_UPDATE\"). In case you just want to discover new instances for a managed system, we recommend to set the 'autoAssignInstances' flag to 'false' and then POST the newly discovered instances to the instances endpoint (/instances). If an entity contains sensitive data like passwords, those properties will be returned as a masked string and have to be set manually when adding the entity to LaMa.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "hostnames": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "hostAgentSettings": {
                                    "type": "object",
                                    "properties": {
                                        "authenticationType": {
                                            "type": "string"
                                        },
                                        "userName": {
                                            "type": "string"
                                        },
                                        "password": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "instanceAgentSettings": {
                                    "type": "object",
                                    "properties": {
                                        "authenticationType": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "autoAssignInstances": {
                                    "type": "boolean"
                                },
                                "pool": {
                                    "type": "string"
                                }
                            }
                        },
                        "x-examples": {
                            "application/json": {
                                "hostnames": [
                                    "hostname.domain",
                                    "otherHost.domain"
                                ],
                                "hostAgentSettings": {
                                    "authenticationType": "Basic",
                                    "userName": "sapadm",
                                    "password": "password"
                                },
                                "instanceAgentSettings": {
                                    "authenticationType": "None"
                                },
                                "autoAssignInstances": true,
                                "pool": "Development"
                            }
                        },
                        "description": "DiscoveryRequest object with all required parameters. The result of the discovery request contains different lists. There is a list for each new entity type discovered and also a list for entities already managed by LaMa. In case the flag 'autoAssignInstances' is set to 'true' in the discovery request, the newly discovered instances will be automatically assigned to the system and also moved from the instance list to the system list. The newly discovered entites can be added via a separate POST call to the respective entity endpoint. In case the flag 'autoAssignInstances' is 'true', the system is already managed by LaMa and a new instance is discovered for that system, the separate call to create the new instance can be a PATCH against the systems endpoint for the specific system (systems/{id}/instances) or a PATCH against the systems collection (/systems with operation \"CREATE_OR_PARTIAL_UPDATE\"). In case you just want to discover new instances for a managed system, we recommend to set the 'autoAssignInstances' flag to 'false' and then POST the newly discovered instances to the instances endpoint (/instances). If an entity contains sensitive data like passwords, those properties will be returned as a masked string and have to be set manually when adding the entity to LaMa."
                    },
                    {
                        "in": "header",
                        "name": "x-csrf-token",
                        "type": "string",
                        "required": true
                    }
                ],
                "operationId": "Trigger-Discovery"
            }
        },
        "/hosts": {
            "post": {
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "400": {
                        "description": ""
                    },
                    "403": {
                        "description": ""
                    },
                    "409": {
                        "description": ""
                    },
                    "500": {
                        "description": ""
                    }
                },
                "summary": "Creates a new host",
                "description": "Creates a new host. In the request body, include an: Host with all required parameters.",
                "operationId": "Create-Host",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "hostname": {
                                    "type": "string"
                                },
                                "pool": {
                                    "type": "string"
                                },
                                "isManaged": {
                                    "type": "boolean"
                                },
                                "isOperational": {
                                    "type": "boolean"
                                },
                                "isIsolationReady": {
                                    "type": "boolean"
                                },
                                "isAcEnabled": {
                                    "type": "boolean"
                                },
                                "hostAgentConfiguration": {
                                    "type": "object",
                                    "properties": {
                                        "useSecureCommunication": {
                                            "type": "boolean"
                                        },
                                        "port": {
                                            "type": "string"
                                        },
                                        "authenticationType": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "hostType": {
                                    "type": "object",
                                    "properties": {
                                        "operatingSystem": {
                                            "type": "string"
                                        },
                                        "operatingSystemVersion": {
                                            "type": "string"
                                        },
                                        "cpuType": {
                                            "type": "string"
                                        },
                                        "addressSpace": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Host with all required parameters.",
                        "x-examples": {
                            "application/json": {
                                "hostname": "hostname.domain",
                                "pool": "Development",
                                "isManaged": true,
                                "isOperational": true,
                                "isIsolationReady": false,
                                "isAcEnabled": false,
                                "hostAgentConfiguration": {
                                    "useSecureCommunication": false,
                                    "port": "1128",
                                    "authenticationType": "Default"
                                },
                                "hostType": {
                                    "operatingSystem": "Linux",
                                    "operatingSystemVersion": "SLES 11",
                                    "cpuType": "X86_64",
                                    "addressSpace": 64
                                }
                            }
                        }
                    },
                    {
                        "$ref": "#/parameters/changeId"
                    },
                    {
                        "in": "header",
                        "name": "x-csrf-token",
                        "type": "string",
                        "required": true
                    }
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "500": {
                        "description": ""
                    }
                },
                "summary": "Returns all registered hosts",
                "description": "Returns all registered hosts. For pagination, use parameters 'offset' and 'limit'. For filtering, use parameter 'pool'. To embed relations, use parameter 'embed'.",
                "operationId": "Get-Hosts",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "in": "query",
                        "name": "hostname",
                        "type": "string",
                        "description": "Filter by hostname. Multiple values can be passed.",
                        "default": "hostname.domain"
                    },
                    {
                        "$ref": "#/parameters/query"
                    },
                    {
                        "in": "query",
                        "name": "pool",
                        "type": "string",
                        "description": "Filter by pool name or pool container name. Multiple values can be passed.",
                        "default": "production"
                    },
                    {
                        "$ref": "#/parameters/embed"
                    },
                    {
                        "$ref": "#/parameters/fields"
                    }
                ]
            },
            "patch": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "400": {
                        "description": ""
                    },
                    "403": {
                        "description": ""
                    },
                    "404": {
                        "description": ""
                    },
                    "500": {
                        "description": ""
                    }
                },
                "summary": "Updates multiple host",
                "description": "Updates multiple hosts or creates new ones if they do not exist.",
                "operationId": "Modify-Multiple-Hosts",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "operation": {
                                    "type": "string"
                                },
                                "hosts": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "hostname": {
                                                "type": "string"
                                            },
                                            "pool": {
                                                "type": "string"
                                            },
                                            "isOperational": {
                                                "type": "boolean"
                                            },
                                            "isIsolationReady": {
                                                "type": "boolean"
                                            },
                                            "isAcEnabled": {
                                                "type": "boolean"
                                            },
                                            "hostUtilization": {
                                                "type": "object",
                                                "properties": {
                                                    "sapsProvided": {
                                                        "type": "integer"
                                                    },
                                                    "memoryProvided": {
                                                        "type": "integer"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "An mass patch request object which contains the operation to be performed and a list of entities with all parameters or just those that need to be updated.",
                        "x-examples": {
                            "application/json": {
                                "operation": "PARTIAL_UPDATE",
                                "hosts": [
                                    {
                                        "hostname": "hostname.domain",
                                        "pool": "Development",
                                        "isOperational": true,
                                        "isIsolationReady": true,
                                        "isAcEnabled": true,
                                        "hostUtilization": {
                                            "sapsProvided": 2000,
                                            "memoryProvided": 8300
                                        }
                                    },
                                    {
                                        "hostname": "hostname2.domain",
                                        "pool": "Production",
                                        "isOperational": true,
                                        "isIsolationReady": true,
                                        "isAcEnabled": true,
                                        "hostUtilization": {
                                            "sapsProvided": 10000,
                                            "memoryProvided": 8192
                                        }
                                    }
                                ]
                            }
                        }
                    },
                    {
                        "in": "header",
                        "name": "x-csrf-token",
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/changeId"
                    }
                ]
            }
        },
        "/hosts/{hostname}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "404": {
                        "description": ""
                    },
                    "500": {
                        "description": ""
                    }
                },
                "summary": "Returns a host",
                "description": "Returns a host based on the host name provided. To embed relations and validations, use parameter 'embed'.",
                "operationId": "Get-Host-With-Name",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/fields"
                    },
                    {
                        "$ref": "#/parameters/embed"
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/parameters/hostname"
                }
            ],
            "delete": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "403": {
                        "description": ""
                    },
                    "404": {
                        "description": ""
                    },
                    "500": {
                        "description": ""
                    }
                },
                "summary": "Deletes a host",
                "description": "Deletes a host based on the hostname provided.",
                "operationId": "Delete-Host",
                "parameters": [
                    {
                        "$ref": "#/parameters/changeId"
                    },
                    {
                        "in": "header",
                        "name": "x-csrf-token",
                        "type": "string",
                        "required": true
                    }
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "400": {
                        "description": ""
                    },
                    "403": {
                        "description": ""
                    },
                    "404": {
                        "description": ""
                    },
                    "500": {
                        "description": ""
                    }
                },
                "summary": "Updates a host",
                "description": "Updates a host based on the hostname provided by replacing it with the new values provided.",
                "operationId": "Update-Host",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "pool": {
                                    "type": "string"
                                },
                                "isManaged": {
                                    "type": "boolean"
                                },
                                "isOperational": {
                                    "type": "boolean"
                                },
                                "isIsolationReady": {
                                    "type": "boolean"
                                },
                                "isAcEnabled": {
                                    "type": "boolean"
                                },
                                "sapacextConfiguration": {
                                    "type": "object",
                                    "properties": {
                                        "isDowngradeAllowed": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "hostAgentConfiguration": {
                                    "type": "object",
                                    "properties": {
                                        "useSecureCommunication": {
                                            "type": "boolean"
                                        },
                                        "port": {
                                            "type": "string"
                                        },
                                        "authenticationType": {
                                            "type": "string"
                                        },
                                        "userName": {
                                            "type": "string"
                                        },
                                        "password": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "networkConfiguration": {
                                    "type": "object",
                                    "properties": {
                                        "isUsingDHCP": {
                                            "type": "boolean"
                                        },
                                        "isPerformingNAT": {
                                            "type": "boolean"
                                        },
                                        "networkAssignments": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "networkInterface": {
                                                        "type": "string"
                                                    },
                                                    "network": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "hostUtilization": {
                                    "type": "object",
                                    "properties": {
                                        "sapsProvided": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        },
                        "description": "Host with all required parameters. ",
                        "x-examples": {
                            "application/json": {
                                "pool": "Development",
                                "isManaged": true,
                                "isOperational": true,
                                "isIsolationReady": true,
                                "isAcEnabled": true,
                                "sapacextConfiguration": {
                                    "isDowngradeAllowed": false
                                },
                                "hostAgentConfiguration": {
                                    "useSecureCommunication": false,
                                    "port": "1128",
                                    "authenticationType": "Basic",
                                    "userName": "sapadm",
                                    "password": "secret"
                                },
                                "networkConfiguration": {
                                    "isUsingDHCP": false,
                                    "isPerformingNAT": false,
                                    "networkAssignments": [
                                        {
                                            "networkInterface": "eth0",
                                            "network": "CorporateNetwork"
                                        }
                                    ]
                                },
                                "hostUtilization": {
                                    "sapsProvided": 1000
                                }
                            }
                        }
                    },
                    {
                        "in": "header",
                        "name": "x-csrf-token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "$ref": "#/parameters/changeId"
                    }
                ]
            },
            "patch": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "400": {
                        "description": ""
                    },
                    "403": {
                        "description": ""
                    },
                    "404": {
                        "description": ""
                    },
                    "500": {
                        "description": ""
                    }
                },
                "summary": "Modifies a host",
                "description": "Modifies a host based on the hostname provided by modifying the values provided.",
                "operationId": "Modify-Host",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "pool": {
                                    "type": "string"
                                }
                            }
                        },
                        "x-examples": {
                            "application/json": {
                                "pool": "Development"
                            }
                        },
                        "description": "Host with all parameters which should be modified."
                    },
                    {
                        "in": "header",
                        "name": "x-csrf-token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "$ref": "#/parameters/changeId"
                    }
                ]
            }
        },
        "/hosts/{hostname}/relations": {
            "get": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "404": {
                        "description": ""
                    },
                    "500": {
                        "description": ""
                    }
                },
                "summary": "Returns all relations for a host",
                "description": "Returns all relations of a host based on the hostname provided. For pagination, use parameters 'offset' and 'limit'.",
                "operationId": "Get-Host-Relations",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "in": "query",
                        "name": "typeId",
                        "type": "string",
                        "description": "Filter by relation typeId",
                        "default": "PoolHosts"
                    },
                    {
                        "in": "query",
                        "name": "predefined",
                        "type": "boolean",
                        "default": true,
                        "description": "Filter by relations isPredefined flag"
                    },
                    {
                        "$ref": "#/parameters/fields"
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/parameters/hostname"
                }
            ]
        },
        "/hosts/{hostname}/validations": {
            "get": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "404": {
                        "description": ""
                    },
                    "500": {
                        "description": ""
                    }
                },
                "summary": "Returns all validations for a host",
                "description": "Returns all validations of a host based on the hostname provided. For pagination, use parameters 'offset' and 'limit'.",
                "operationId": "Get-Host-Validations",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "in": "query",
                        "name": "name",
                        "type": "string",
                        "description": "Filter by validation name example: \"MntOptIgnored\" ",
                        "default": "MntOptIgnored"
                    },
                    {
                        "$ref": "#/parameters/severity"
                    },
                    {
                        "$ref": "#/parameters/fields"
                    }
                ]
            },
            "parameters": [
                {
                    "$ref": "#/parameters/hostname"
                }
            ]
        },
        "/instances": {
            "post": {
                "responses": {
                    "201": {
                        "description": ""
                    },
                    "400": {
                        "description": ""
                    },
                    "403": {
                        "description": ""
                    },
                    "409": {
                        "description": ""
                    },
                    "500": {
                        "description": ""
                    }
                },
                "summary": "Creates a new instance",
                "description": "Creates a new instance based on the instance ID provided.",
                "operationId": "Create-Instance",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "x-csrf-token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "sid": {
                                    "type": "string"
                                },
                                "systemId": {
                                    "type": "string"
                                },
                                "instanceType": {
                                    "type": "string"
                                },
                                "instanceSubType": {
                                    "type": "string"
                                },
                                "isManaged": {
                                    "type": "boolean"
                                },
                                "isOperational": {
                                    "type": "boolean"
                                },
                                "installationHostname": {
                                    "type": "string"
                                },
                                "instanceNumber": {
                                    "type": "string"
                                },
                                "isAcEnabled": {
                                    "type": "boolean"
                                }
                            }
                        },
                        "x-examples": {
                            "application/json": {
                                "sid": "X10",
                                "systemId": "SystemID.X10.SystemHost.simdbx10",
                                "instanceType": "Application Server",
                                "instanceSubType": "ABAP",
                                "isManaged": true,
                                "isOperational": true,
                                "installationHostname": "x10as59.example.com",
                                "instanceNumber": "59",
                                "isAcEnabled": false
                            }
                        }
                    },
                    {
                        "$ref": "#/parameters/changeId"
                    }
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "500": {
                        "description": ""
                    }
                },
                "summary": "Returns all registered instances",
                "description": "Returns all registered instances. For pagination, use parameters 'offset' and 'limit'. For filtering, use parameters 'pool' and 'sid'.",
                "parameters": [
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/id"
                    },
                    {
                        "$ref": "#/parameters/query"
                    },
                    {
                        "in": "query",
                        "name": "invalidsOnly",
                        "type": "boolean",
                        "description": "Flag indicating whether only invalid entities should be shown. example: true",
                        "default": true
                    },
                    {
                        "in": "query",
                        "name": "pool",
                        "type": "string",
                        "description": "Filter by pool name or pool container name. Multiple values can be passed. example: \"Production\""
                    },
                    {
                        "in": "query",
                        "name": "sid",
                        "type": "string",
                        "description": "Filter by SID. Multiple values can be passed. example: \"XYZ\""
                    },
                    {
                        "$ref": "#/parameters/embed"
                    },
                    {
                        "$ref": "#/parameters/fields"
                    }
                ],
                "operationId": "Get-Instances"
            },
            "patch": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "400": {
                        "description": ""
                    },
                    "403": {
                        "description": ""
                    },
                    "404": {
                        "description": ""
                    },
                    "500": {
                        "description": ""
                    }
                },
                "summary": "Updates multiple instances",
                "description": "Updates multiple instances or creates new ones if they do not exist.",
                "operationId": "Modify-Multiple-Instances",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "operation": {
                                    "type": "string"
                                },
                                "instances": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "sid": {
                                                "type": "string"
                                            },
                                            "pool": {
                                                "type": "string"
                                            },
                                            "systemId": {
                                                "type": "string"
                                            },
                                            "instanceType": {
                                                "type": "string"
                                            },
                                            "instanceSubType": {
                                                "type": "string"
                                            },
                                            "isManaged": {
                                                "type": "boolean"
                                            },
                                            "isOperational": {
                                                "type": "boolean"
                                            },
                                            "installationHostname": {
                                                "type": "string"
                                            },
                                            "communicationHostname": {
                                                "type": "string"
                                            },
                                            "instanceNumber": {
                                                "type": "string"
                                            },
                                            "instanceAgentConfiguration": {
                                                "type": "object",
                                                "properties": {
                                                    "useSecureCommunication": {
                                                        "type": "boolean"
                                                    },
                                                    "port": {
                                                        "type": "string"
                                                    },
                                                    "monitorDetails": {
                                                        "type": "boolean"
                                                    },
                                                    "profileParameters": {
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "isAcEnabled": {
                                                "type": "boolean"
                                            },
                                            "consumedResourceConfiguration": {
                                                "type": "object",
                                                "properties": {
                                                    "consumesAllResources": {
                                                        "type": "boolean"
                                                    },
                                                    "exclusivelyConsumedResources": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object"
                                                        }
                                                    }
                                                }
                                            },
                                            "instanceRequirements": {
                                                "type": "object",
                                                "properties": {
                                                    "requiredSAPS": {
                                                        "type": "integer"
                                                    },
                                                    "requiredMemory": {
                                                        "type": "integer"
                                                    }
                                                }
                                            },
                                            "assignedHost": {
                                                "type": "object",
                                                "properties": {
                                                    "entityType": {
                                                        "type": "string"
                                                    },
                                                    "entityId": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "description": "An mass patch request object which contains the operation to be performed and a list of entities with all parameters or just those that need to be updated.",
                        "x-examples": {
                            "application/json": {
                                "operation": "CREATE_OR_UPDATE",
                                "instances": [
                                    {
                                        "sid": "T01",
                                        "pool": "Development",
                                        "systemId": "SystemID.T01.SystemHost.sapt01.example.com",
                                        "instanceType": "Application Server",
                                        "instanceSubType": "ABAP",
                                        "isManaged": true,
                                        "isOperational": false,
                                        "installationHostname": "sapt01.example.com",
                                        "communicationHostname": "sapt01.example.com",
                                        "instanceNumber": "11",
                                        "instanceAgentConfiguration": {
                                            "useSecureCommunication": true,
                                            "port": "50000",
                                            "monitorDetails": false,
                                            "profileParameters": {}
                                        },
                                        "isAcEnabled": false,
                                        "consumedResourceConfiguration": {
                                            "consumesAllResources": false,
                                            "exclusivelyConsumedResources": []
                                        },
                                        "instanceRequirements": {
                                            "requiredSAPS": 0,
                                            "requiredMemory": 0
                                        },
                                        "assignedHost": {
                                            "entityType": "HOST",
                                            "entityId": "sapt01.example.com"
                                        }
                                    },
                                    {
                                        "sid": "T02",
                                        "pool": "Development",
                                        "systemId": "SystemID.T02.SystemHost.sapt02.example.com",
                                        "instanceType": "Application Server",
                                        "instanceSubType": "ABAP",
                                        "isManaged": true,
                                        "isOperational": false,
                                        "installationHostname": "sapt02.example.com",
                                        "communicationHostname": "sapt02.example.com",
                                        "instanceNumber": "10",
                                        "instanceAgentConfiguration": {
                                            "useSecureCommunication": true,
                                            "port": "50000",
                                            "monitorDetails": false,
                                            "profileParameters": {}
                                        },
                                        "isAcEnabled": false,
                                        "consumedResourceConfiguration": {
                                            "consumesAllResources": false,
                                            "exclusivelyConsumedResources": []
                                        },
                                        "instanceRequirements": {
                                            "requiredSAPS": 0,
                                            "requiredMemory": 0
                                        },
                                        "assignedHost": {
                                            "entityType": "HOST",
                                            "entityId": "sapt02.example.com"
                                        }
                                    }
                                ]
                            }
                        }
                    },
                    {
                        "in": "header",
                        "name": "x-csrf-token",
                        "type": "string",
                        "required": true
                    },
                    {
                        "$ref": "#/parameters/changeId"
                    }
                ]
            }
        },
        "/instances/{instanceId}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "404": {
                        "description": ""
                    },
                    "500": {
                        "description": ""
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/embed"
                    },
                    {
                        "$ref": "#/parameters/fields"
                    }
                ],
                "operationId": "Get-Instance",
                "summary": "Returns an instance",
                "description": "Returns an instance based on the instance ID provided."
            },
            "parameters": [
                {
                    "$ref": "#/parameters/instanceId"
                }
            ],
            "delete": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "403": {
                        "description": ""
                    },
                    "404": {
                        "description": ""
                    },
                    "500": {
                        "description": ""
                    }
                },
                "summary": "Deletes an instance",
                "description": "Deletes an instance based on the instance ID provided.",
                "operationId": "Delete-Instance",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/changeId"
                    },
                    {
                        "in": "header",
                        "name": "x-csrf-token",
                        "type": "string",
                        "required": true
                    }
                ]
            },
            "put": {
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    },
                    "400": {
                        "description": ""
                    },
                    "403": {
                        "description": ""
                    },
                    "404": {
                        "description": ""
                    },
                    "500": {
                        "description": ""
                    }
                },
                "summary": "Updates an instance",
                "description": "Updates an instance based on the instance ID provided by replacing it with the new values provided.",
                "operationId": "Update-Instance",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "customName": {
                                    "type": "string"
                                },
                                "description": {
                                    "type": "string"
                                },
                                "isManaged": {
                                    "type": "boolean"
                                },
                                "isOperational": {
                                    "type": "boolean"
                                },
                                "targetStatus": {
                                    "type": "string"
                                },
                                "instanceAgentConfiguration": {
                                    "type": "object",
                                    "properties": {
                                        "useSecureCommunication": {
                                            "type": "boolean"
                                        },
                                        "port": {
                                            "type": "string"
                                        },
                                        "authenticationType": {
                                            "type": "string"
                                        },
                                        "userName": {
                                            "type": "string"
                                        },
                                        "password": {
                                            "type": "string"
                                        },
                                        "monitorDetails": {
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "isAcEnabled": {
                                    "type": "boolean"
                                },
                                "virtualHostNames": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "virtualHostName": {
                                                "type": "string"
                                            },
                                            "isPrimary": {
                                                "type": "boolean"
                                            },
                                            "type": {
                                                "type": "string"
                                            },
                                            "network": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "consumedResourceConfiguration": {
                                    "type": "object",
                                    "properties": {
                                        "consumesAllResources": {
                                            "type": "boolean"
                                        },
                                        "exclusivelyConsumedResources": {
                                            "type": "array",
[...]
